
/*Typography*/
html {
	font-family: "Lato", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3 {
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 4em;
	text-align: center;
}
	h1.display {
		font-size: 5em;
		font-weight: 100;
	}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.2em;
}
h4 {
	font-size: 1.4em;
	font-weight: normal;
}
h5 {
	font-size: 1.2em;
	font-weight: normal;
}
h6 {
	font-size: 1em;
}
@media handheld, only screen and (max-width: 30em) {
	h1, h1.display {
		font-size: 3.5em;
	}
	h2 {
		font-size: 2.8em;
	}
	h3 {
		font-size: 1.8em;
	}
}



/*Generic*/
pre {
	background-color: #fafafa;
	color: inherit;
}
code, pre code {
	font-size: 0.8em;
	color: #e01b6a;
}
dl.plain dt {
	font-weight: inherit;
}
a, a:visited {
	color: #00b5d9;
}
a {
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-property: line-height, background, color, border-color, border, top, margin, padding;
    -moz-transition-property: line-height, background, color, border-color, border, top, margin, padding;
    -o-transition-property: line-height, background, color, border-color, border, top, margin, padding;
    transition-property: line-height, background, color, border-color, border, top, margin, padding;
}
.row {
	background-repeat: no-repeat;
	background-position: 50% -1px;
}
.invisible {
	width: 0;
	height: 0;
	overflow: hidden;
}



/*Master title*/
h1.pageTitle {
	line-height: 1em;
}
	h1.pageTitle a, h1.pageTitle a:hover, h1.pageTitle a:focus {
		color: inherit;
	}
	h1.pageTitle a small {
		font-size: 1em;
		color: #737b80;
	}



/*Intro*/
.row-intro h1.pageTitle {
	font-size: 6em;
}
	@media handheld, only screen and (max-width: 60em) {
		.row-intro h1.pageTitle {
			font-size: 5em;
		}
	}
	@media handheld, only screen and (max-width: 40em) {
		.row-intro h1.pageTitle {
			font-size: 4em;
		}
	}
	@media handheld, only screen and (max-width: 28em) {
		.row-intro h1.pageTitle {
			font-size: 3.4em;
		}
	}
.row-intro ul li {
	margin-bottom: 0.24em;
}
.row-intro .discreet, .row-intro dd {
	color: #737b80;
}
	.row-intro .discreet a {
		color: inherit;
		text-decoration: underline;
	}
		.row-intro .discreet a:hover, .row-intro .discreet a:focus {
			color: #fff;
		}

/*Download link*/
.row-intro h2 {
	font-size: 1em;
	color: #737b80;
	font-weight: 300;
	text-transform: none;
	min-height: 3em;
}
.row-intro h2 a {
	position: relative;
	display: inline-block;
	padding: 0.4em 1.4em 0.4em 1.4em;
	min-width: 6em;
	text-align: center;
	margin-right: 0.8em;

	line-height: 2em;
	font-size: 1em;
	text-transform: uppercase;

	background-color: #009ebf;
	border-color: #12171a;
	color: #fff;
}
	.row-intro h2 a:hover, .row-intro h2 a:focus {
		top: -0.2em;
		border-bottom-width: 0.2em;
		text-decoration: none;
		background-color: #00b3d9;
		color: #fff;
	}
		.row-intro h2 a:active {
			top: 0;
			border-bottom-width: 0;
			color: #fff;
		}

/*Goodies*/
.row-intro dl {
	margin-top: 1.8em;
	border-top-width: 1px;
	border-color: #2e3133;
}
.row-intro dt {
	margin-top: 1.2em;
}
.row-intro dt a {
	display: inline-block;
	padding: 0.2em;
	margin-left: -0.2em;
}
	.row-intro dt a:hover, .row-intro dt a:focus {
		padding-top: 0.05em;
		padding-bottom: 0.35em;
		text-decoration: none;
	}
		.row-intro dt a:active {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}
.row-intro dt.discreet {
	float: left;
	clear: none;
	margin-right: 2em;
}
.row-intro dt.discreet a {
	text-decoration: none;
}

/*Highlight download*/
.highlightDownload dt a {
	color: #737b80;
}
.highlightDownload h2 {
	color: #fff;
}



/*Title row*/
.row-title {
	background-color: #ff4551;
	background-image: url(images/down-dark.png);
	color: #fff;
	font-weight: 300;
	text-align: center;
}
.row-title .description {
	margin-top: 3.8em;
	margin-bottom: 4em;
	color: #ffa6a6;
}



/*Menu*/
#menu {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1000;
	background-color: #ff4551;
}
#menu.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
#menu li {
	display: inline-block;
}
#menu a {
	display: inline-block;
	position: relative;
	padding: 0.4em 1.2em 0.5em 1.2em;
	border-color: #ff4551;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border-top-width: 0.5em;
	border-bottom-width: 0.5em;
}
	#menu a.selected {
		background-color: #ce2930;
	}
	#menu a:hover, #menu a:focus {
		top: -0.2em;
	}
		#menu a:active {
			top: 0.15em;
			border-bottom-width: 0.35em;
		}
		#menu a:hover:active, #menu a.selected:hover, #menu a.selected:focus {
			top: 0;
			border-bottom-width: 0.5em;
		}
		#menu a.selected:hover {
			background-color: #a6191f;
		}



/*All reference sections*/
.reference > .row {
	border-top-width: 1em;
	border-color: #ff4551;
	background-image: url(images/down-red.png);
}

.reference h3 {
	margin-top: 2.68em;
}
.reference .description {
	max-width: 46em;
}
.reference .description.center {
	text-align: center;
}
.reference .column {
	background-color: #eee;
}
	.reference .colored {
		background-color: #ddd;
	}



/*Source*/

/*Trigger style*/
.source {
	margin-top: 1.34em;
}
.source .trigger {
	overflow-y: hidden;
	position: relative;
	display: block;
	padding: 0 5%;
	text-align: center;

	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;

	border-width: 1px;
	border-color: #00b5d9;
	background-color: #00b5d9;
	color: #fff;

	letter-spacing: 0.2em;
	word-spacing: 0.4em;

    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}
	.source .trigger:hover {
		border-color: #0099bf;
		background-color: #0099bf;
	}
	.source .trigger:active {
		position: relative;
		top: 0.2em;
	}
	.source.collapsed .trigger {
		border-color: #fafafa;
		background-color: #fafafa;
		color: #00b5d9;
	}
	.source.collapsed .trigger:hover {
		border-color: #00b5d9;
	}

/*Choose trigger content*/
.source .trigger {
	height: 2.6em;
}
.source .trigger .hide, .source .trigger .show {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	left: 0;
	height: 2.6em;
	line-height: 2.7em;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: opacity, top;
    -moz-transition-property: opacity, top;
    -o-transition-property: opacity, top;
    transition-property: opacity, top;
}
.source .trigger .hide, .source.collapsed .trigger .show {
	top: 0;
	opacity: 1;
}
	.source .trigger .show, .source.collapsed .trigger .hide {
		opacity: 0;
	}
	.source .trigger .show {
		top: 10em;
	}
	.source.collapsed .trigger .hide {
		top: -10em;
	}

/*Code area*/
.sourceContent {
	border-color: #00b5d9;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	overflow: auto;
	max-height: 24em;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: padding, border-width, max-height, box-shadow;
    -moz-transition-property: padding, border-width, max-height, box-shadow;
    -o-transition-property: padding, border-width, max-height, box-shadow;
    transition-property: padding, border-width, max-height, box-shadow;
}
	.collapsed .sourceContent {
		overflow-y: hidden;
		max-height: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom-width: 0;
	}


/*Grid*/
.row-grid .column p {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.8em;
	padding-bottom: 1em;
	line-height: 1em;
}



/*Lists*/
.row-lists .column {
	background-color: transparent;
}
.row-lists ul, .row-lists ol {
	background-color: #eee;
}



/*Forms*/
input.plain, textarea.plain {
	background-color: #ddd;
}



/*Dark sections*/
.row-footer {
	background-image: url(images/down-white.png);
}
.row-footer h1.pageTitle {
	font-size: 3.5em;
}
.row-footer h1, .row-footer p, .row-footer h1 a, .row-footer h1 img {
	margin-right: auto;
	margin-left: auto;
}
.row-footer h1 img {
	max-height: 0.5em;
}

/*Image & description*/
.row-footer .row-content {
	max-width: 34em;
}
.row-footer .column img {
	border-radius: 0.2em;
	box-shadow: 0 0.1em 0.4em #000;
}
.row-footer .column.fixed {
	width: 3.8em;
}
.row-footer .column.fluid.right > .column-content {
	margin-left: 5em;
}
.row-footer .column.fluid {
	margin-bottom: 4em;
}

/*Dark sections*/
.dark {
	background-color: #12171a;
	color: #fff;
	font-weight: 300;
}
.dark a {
	text-decoration: none;
	color: #00c0e6;
}
	.dark a:hover, .dark a:focus {
		color: #88ddee;
	}
		.dark a:active {
			color: #00c0e6;
		}
