
/*Typography*/
html {
	font-family: "Lato", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3 {
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 4em;
	text-align: center;
}
	h1.display {
		font-size: 5em;
		font-weight: 100;
	}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.2em;
}
h4 {
	font-size: 1.4em;
	font-weight: normal;
}
h5 {
	font-size: 1.2em;
	font-weight: normal;
}
h6 {
	font-size: 1em;
}
@media handheld, only screen and (max-width: 40em) {
	h1, h1.display {
		font-size: 3em;
	}
	h2 {
		font-size: 2.5em;
	}
	h3 {
		font-size: 1.8em;
	}
}


/*Generic*/
code {
	font-size: 0.8em;
	color: #e01b6a;
}
dl.plain dt {
	font-weight: inherit;
}
a, a:visited {
	color: #00c0e6;
}
	a.button:hover, a.button:focus {
		color: #88ddee;
	}
		a.button:active {
			color: #00c0e6;
		}
a {
    -webkit-transition-duration: 125ms;
    -moz-transition-duration: 125ms;
    -o-transition-duration: 125ms;
    transition-duration: 125ms;

    -webkit-transition-property: color, border, top, margin, padding;
    -moz-transition-property: color, border, top, margin, padding;
    -o-transition-property: color, border, top, margin, padding;
    transition-property: color, border, top, margin, padding;
}



/*Title row*/
.row-title {
	background: #ff4551 url(down-dark.png) no-repeat 50% 0;
	color: #fff;
}



/*Separate sections*/
.reference .row {
	border-top-width: 1em;
	border-color: #ff4551;
	background-image: url(down-red.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
	.reference .row:first-of-type {
		border-top-width: 0;
	}



/*Colorize columns for clarity*/
.reference .column, .reference ul, .reference ol {
	background-color: #eee;
}
	.reference .colored {
		background-color: #ddd;
	}



/*Grid*/
.row-grid .column p {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.8em;
	padding-bottom: 1em;
	line-height: 1em;
}



/*Forms*/
input.plain, textarea.plain {
	background-color: #ddd;
}



/*Intro*/
.row-intro h1 img {
	max-height: 1.4em;
}
.row-intro ul li {
	margin-bottom: 0.24em;
}
.row-intro p.discreet, .row-intro dd {
	color: #737b80;
}
	.row-intro .discreet a {
		color: inherit;
		text-decoration: underline;
	}
		.row-intro .discreet a:hover, .row-intro .discreet a:focus {
			color: #fff;
		}

/*Download link*/
.row-intro h2 {
	font-size: 1em;
	color: #737b80;
}
.row-intro h2 a {
	position: relative;
	display: inline-block;
	padding: 0.4em 1.4em 0.4em 1.4em;
	min-width: 6em;
	text-align: center;
	margin-right: 0.8em;

	line-height: 2em;
	font-size: 1em;
	font-weight: 100;
	text-transform: uppercase;

	background-color: #0094b3;
	border-color: #12171a;
	color: #fff;
}
	.row-intro h2 a:hover, .row-intro h2 a:focus {
		top: -0.2em;
		border-bottom-width: 0.2em;
		text-decoration: none;
		background-color: #00aacc;
		color: #fff;
	}
		.row-intro h2 a:active {
			top: 0;
			border-bottom-width: 0;
			color: #fff;
		}

/*Goodies*/
.row-intro dl {
	margin-top: 1.8em;
	border-top-width: 1px;
	border-color: #2e3133;
}
.row-intro dt {
	margin-top: 1.2em;
}
.row-intro dt a {
	display: inline-block;
	padding: 0.2em;
	margin-left: -0.2em;
}
	.row-intro dt a:hover, .row-intro dt a:focus {
		padding-top: 0.05em;
		padding-bottom: 0.35em;
		text-decoration: none;
	}
		.row-intro dt a:active {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
		}



/*Dark sections*/
.row-footer h1, .row-footer p, .row-footer h1 a, .row-footer h1 img {
	margin-right: auto;
	margin-left: auto;
}
.row-footer h1 img {
	max-height: 0.5em;
}
.row-footer .row-content {
	max-width: 34em;
}
.row-footer .column.fixed {
	width: 3.7em;
}
.row-footer .column.fluid.right > .column-content {
	margin-left: 5em;
}
.row-footer .column.fluid {
	margin-bottom: 3em;
}

/*Dark sections*/
.dark {
	background-color: #12171a;
	color: #fff;
	font-weight: 300;
}
.dark a {
	text-decoration: none;
	color: #00c0e6;
}
	.dark a:hover, .dark a:focus {
		color: #88ddee;
	}
		.dark a:active {
			color: #00c0e6;
		}
