/*Utilities for common CSS-based behavior*/
.clear {
	clear: both;
}

.hidden {
	display: none;
}

/*Hide text content*/
.dry {
	text-indent: -9999em;
	direction: ltr;
}

/*Include padding and border in dimensions*/
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Make an element fill all available space*/
.fill {
	display: block;
	width: 100%;
	height: 100%;
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
}

	ul.reset, ol.reset {
		list-style-type: none;
	}

	ul.plain, ol.plain {
		padding-left: 0;
		list-style-type: none;
	}

/*Spacing and closing*/
.close {
	margin: 0;
}
	.close-top {
		margin-top: 0;
	}
	.close-right {
		margin-right: 0;
	}
	.close-bottom {
		margin-bottom: 0;
	}
	.close-left {
		margin-left: 0;
	}
.spacing {
	margin: 1em;
}
	.spacing-top {
		margin-top: 1em;
	}
	.spacing-right {
		margin-right: 1em;
	}
	.spacing-bottom {
		margin-bottom: 1em;
	}
	.spacing-left {
		margin-left: 1em;
	}
