
/*Images*/

img {
	max-width: 100%;
}

/*Form elements*/
input.textfield, input.password, textarea {
	width: 65%;	
}
input.textfield, input.password {
	max-width: 300px;
}
	input.textfield.condensed, input.password.condensed {
		width: 40%;
		max-width: 200px;
	}

textarea {
	max-width: 500px;
	height: 10em;
}
	textarea.condensed {
		width: 40%;
		height: 5em;
		max-width: 300px;
	}
