
/*Images*/
img {
	max-width: 100%;
}

/*Form elements*/
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
	width: 70%;	
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
	max-width: 24em;
}
	input[type="text"].condensed, input[type="password"].condensed, input[type="email"].condensed, input[type="url"].condensed, input[type="search"].condensed, input[type="tel"].condensed {
		width: 40%;
		max-width: 16em;
	}

textarea {
	width: 70%;	
	max-width: 36em;
	height: 12.6em;
}
	textarea.condensed {
		width: 40%;
		height: 6.3em;
		max-width: 24em;
	}
