
/*Content columns (12-based)*/
.column {
	clear: none;
	float: left;
	min-height: 1px;
}
	.column.first, .column.twelve {
		clear: both;
	}
	.column.right {
		float: right;
	}

	/*Fluid columns with gutter*/
	.column.one, .column.two, .column.three, .column.four, .column.five, .column.six, .column.seven, .column.eight, .column.nine, .column.ten, .column.eleven, .column.twelve {
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.last, .column.twelve, .column.close, .column.close-right {
			margin-right: 0;
		}
	.column.one.right, .column.two.right, .column.three.right, .column.four.right, .column.five.right, .column.six.right, .column.seven.right, .column.eight.right, .column.nine.right, .column.ten.right, .column.eleven.right, .column.twelve.right {
		margin-right: 0;
		margin-left: 3.8%;
	}
		.column.right.last, .column.right.twelve, .column.right.close-left, .column.right.close {
			margin-left: 0;
		}

	/*Fluid columns with gutter*/
	.column.one {
		width: 4.85%;
	}
	.column.two {
		width: 13.45%;
	}
	.column.three {
		width: 22.05%;
	}
	.column.four {
		width: 30.75%;
	}
	.column.five {
		width: 39.45%;
	}
	.column.six {
		width: 48%;
	}
	.column.seven {
		width: 56.75%;
	}
	.column.eight {
		width: 65.4%;
	}
	.column.nine {
		width: 74.05%;
	}
	.column.ten {
		width: 82.7%;
	}
	.column.eleven {
		width: 91.35%;
	}
	.column.twelve {
		width: 100%;
	}

	/*Fluid columns without gutters*/
	.column.one.close-right, .column.one.close-left, .column.one.close {
		width: 8.3%;
	}
	.column.two.close-right, .column.two.close-left, .column.two.close {
		width: 16.65%;
	}
	.column.three.close-right, .column.three.close-left, .column.three.close {
		width: 25%;
	}
	.column.four.close-right, .column.four.close-left, .column.four.close {
		width: 33.3%;
	}
	.column.five.close-right, .column.five.close-left, .column.five.close {
		width: 41.65%;
	}
	.column.six.close-right, .column.six.close-left, .column.six.close {
		width: 50%;
	}
	.column.seven.close-right, .column.seven.close-left, .column.seven.close {
		width: 58.3%;
	}
	.column.eight.close-right, .column.eight.close-left, .column.eight.close {
		width: 66.6%;
	}
	.column.nine.close-right, .column.nine.close-left, .column.nine.close {
		width: 75%;
	}
	.column.ten.close-right, .column.ten.close-left, .column.ten.close {
		width: 83.35%;
	}
	.column.eleven.close-right, .column.eleven.close-left, .column.eleven.close {
		width: 91.7%;
	}

	/*Shift columns to the right*/
	.column.push-one {
		margin-left: 8.65%;
	}
	.column.push-two {
		margin-left: 17.25%;
	}
	.column.push-three {
		margin-left: 25.85%;
	}
	.column.push-four {
		margin-left: 34.55%;
	}
	.column.push-five {
		margin-left: 43.25%;
	}
	.column.push-six {
		margin-left: 51.8%;
	}
	.column.push-seven {
		margin-left: 60.55%;
	}
	.column.push-eight {
		margin-left: 69.2%;
	}
	.column.push-nine {
		margin-left: 77.85%;
	}
	.column.push-ten {
		margin-left: 86.5%;
	}
	.column.push-eleven {
		margin-left: 95.15%;
	}

	/*Alternative columns without gutters*/
	.column.half, .column.fourth, .column.fifth, .column.tenth {
		margin-left: 0;
		margin-right: 0;
	}
	.column.half {
		width: 50%;
	}
	.column.fourth {
		width: 25%;
	}
		.column.twofourths {
			width: 50%;
		}
		.column.threefourths {
			width: 75%;
		}
	.column.fifth {
		width: 20%;
	}
		.column.twofifths {
			width: 40%;
		}
		.column.threefifths {
			width: 60%;
		}
		.column.fourfifths {
			width: 80%;
		}
	.column.tenth {
		width: 10%;
	}
		.column.twotenths {
			width: 20%;
		}
		.column.threetenths {
			width: 30%;
		}
		.column.fourtenths {
			width: 40%;
		}
		.column.fivetenths {
			width: 50%;
		}
		.column.sixtenths {
			width: 60%;
		}
		.column.seventenths {
			width: 70%;
		}
		.column.eighttenths {
			width: 80%;
		}
		.column.ninetenths {
			width: 90%;
		}



/*Fixed-width column among fluid ones*/
.column.fluid {
	clear: none;
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
	.column.fluid > .container {
		margin-left: 11em;
	}
	.column.fixed {
		clear: none;
		float: left;
		margin-right: 0;
		margin-left: -100%;
		width: 10em;
	}
		.column.fluid.left > .container {
			margin-left: 0;
			margin-right: 11em;
		}
		.column.fixed.right {
			float: right;
		}



/*Content areas*/
.buffer {
	padding: 1em 2em 2em 2em;
}
	.buffer-top {
		padding-top: 1em;
	}
	.buffer-right {
		padding-right: 2em;
	}
	.buffer-bottom {
		padding-bottom: 2em;
	}
	.buffer-left {
		padding-left: 2em;
	}



/*Force floats*/
.push-left, .push-right {
	clear: none;
}
.push-left {
	float: left;
}
.push-right {
	float: right;
}



/*List layouts*/
ul.inline, ol.inline {
	list-style: none;
	padding-left: 0;
}
	ul.inline.right, ol.inline.right {
		text-align: right;
	}
		ul.inline li, ol.inline li {
			display: inline-block;
		}
ul.block, ol.block {
	list-style: none;
	padding-left: 0;
}
	ul.block.right, ol.block.right {
		text-align: right;
	}
		ul.block li, ol.block li {
			float: left;
			clear: none;
		}
