// Actual CSS code is here
@import './responsive-first';
@import './responsive-consecutive';

@mixin responsive ($breakpoints) {
    /*
    Layers CSS 1.2.0
    Docs: https://layers-css.vercel.app
    Source: https://github.com/jerryjappinen/layers-css
    */

    // NOTE: when compiling, pass the appropriate variables to get the right output
    @for $i from 1 through length($breakpoints) {
        // $breakpoint: $breakpoints.nth($i);
        $breakpoint: nth($breakpoints, $i);
        $breakpoint-name: nth($breakpoint, 1);
        $breakpoint-width: nth($breakpoint, 2);
        $breakpoint-barely-width: nth($breakpoint, 3);

        @if $i == 1 {
            @include responsive-first($breakpoint-name, $breakpoint-width, $breakpoint-barely-width);
        } @else {
            $previous: nth($breakpoints, $i - 1);
            $previous-name: nth($previous, 1);

            @include responsive-consecutive($previous-name, $breakpoint-name, $breakpoint-width, $breakpoint-barely-width);
        }
    }

}
