
/*Basics*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	vertical-align: baseline;
	background: transparent;
}
button, input, select, textarea {
	margin: 0;
}



/*HTML5 elements*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}



/*Blocks*/
/*FLAG do I need this?*/
html, body, div, p, li, dt, dd, th, td, caption,
h1, h2, h3, h4, h5, h6, blockquote, pre,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	word-wrap: break-word;
}



/*Widths and heights*/
button, input, select, textarea {
	max-width: 100%;
}
body {
	line-height: 1;
}



/*Quotes*/
blockquote, q {
	quotes: none;
}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}



/*Interaction*/
input[type="search"] {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}



/*Fonts*/
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input, select, textarea, button {
	font-family: inherit;
}
button, input, select, textarea, pre, code, kbd, samp {
	font-size: inherit;
	font-weight: inherit;
}
mark, strong {
	font-weight: bold;
}
em, dfn, q, blockquote {
	font-style: italic;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	text-decoration: underline;
	cursor: help;
}



/*Improve scaled image quality in IE7*/
img {
	-ms-interpolation-mode: bicubic;
}

/*Correct overflows in IE9*/
svg:not(:root) {
	overflow: hidden;
}
