
/*Common defaults to normalize browser differences*/

/*Defaults*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	border-width: 0;
	border-style: solid;
	clear: both;
}
img {
	vertical-align: baseline;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}



/*Max-widths*/
img, iframe {
	max-width: 100%;
}

/*Lists*/
ul {
	list-style: disc;
	padding-left: 2em;
}
ol {
	list-style: decimal;
	padding-left: 2em;
}
	nav ul, nav ol {
		list-style: none;
		list-style-image: none;
		padding-left: 0;
	}



/*Inline*/
sub, sup {
	font-size: 0.8em;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}



/*Formatting*/
h1, h2, h3, h4, h5, strong, dt {
	font-weight: bold;
}
a {
	text-decoration: underline;
}
	a:hover {
		text-decoration: none;
	}



/*Tables*/
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	vertical-align: top;
}



/*Forms & interaction*/

/*Use the same box-model in all browsers*/
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
textarea {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
a, label, button {
	cursor: pointer;
}
	input[type="submit"], input[type="button"], input[type="reset"] {
		cursor: pointer;
	}
	.disabled button, .disabled label, .disabled a, button.disabled, label.disabled, a.disabled {
		cursor: default;
	}
	a[disabled], button[disabled], input[disabled] {
		cursor: default;
	}
textarea {
	vertical-align: top;
}
button, input, select {
	vertical-align: baseline;
	*vertical-align: middle;
}
