/*Overall rhythm*/
body {
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-epub-hyphens: auto;
	hyphens: auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"] {
	word-break: normal;
}

/*Font families*/
html {
	font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
blockquote, q {
	font-family: "Droid Serif", "Georgia", serif;
}
pre, code, kbd, samp {
	font-size: 0.8em;
	font-family: "Monaco", "Segoe UI Mono", "Droid Sans Mono", "Consolas", monospace;
}

/*Sizes*/
body {
	line-height: 1.4;
}
h1, h2, h3 {
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
h5, h6 {
	font-size: 1em;
}
big {
	font-size: 1.2em;
}
small {
	font-size: 0.8em;
}
