/*
Layers CSS 1.2.0  responsive adjustments
Released by Jerry Jäppinen under the MIT license
http://eiskis.net/layers
2015-05-29
*/
@media handheld, only screen and (max-width: 39.9375em) {

	/*Show/hide*/
	.hidden-under-small {
		display: none;
	}

}
@media handheld, only screen and (min-width: 40em) {

	/*Show/hide*/
	.hidden-over-small {
		display: none;
	}

	/*Width limit*/
	.limit-small {
		max-width: 40em;
	}

	/*Roll back default first-in-line behavior*/
	.column.first[class^="small-"],
	.column.first[class*=" small-"] {
		clear: none;
	}

	/*Roll back default last-in-line behavior*/
	.column.last[class^="small-"],
	.column.last[class*=" small-"] {
		margin-right: 3.8%;
	}

		/*Roll back default last-in-line behavior*/
		.column.right.last[class^="small-"],
		.column.right.last[class*=" small-"] {
			margin-left: 3.8%;
		}



	/*Column basics*/
	.column[class^="small-"],
	.column[class*=" small-"] {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right[class^="small-"],
		.column.right[class*=" small-"] {
			float: right;
			margin-right: 0;
			margin-left: 3.8%;
		}
		.column.reset[class^="small-"],
		.column.reset[class*=" small-"] {
			margin-right: 0;
			margin-left: 0;
		}

	/*Full-width column*/
	.column.small-full,
	.column.small-twelve {
		width: 100%;
	}



	/*Fifth*/
	.column.small-fifth {
		width: 16.95%;
	}
	.column.small-twofifths {
		width: 37.70%;
	}
	.column.small-threefifths {
		width: 58.45%;
	}
	.column.small-fourfifths {
		width: 79.20%;
	}
		.column.small-push-fifth {
			margin-left: 20.45%;
		}
			.column.small-right.push-fifth {
				margin-right: 20.45%;
			}
		.column.small-push-twofifths {
			margin-left: 41.50%;
		}
			.column.small-right.push-twofifths {
				margin-right: 41.50%;
			}
		.column.small-push-threefifths {
			margin-left: 62.25%;
		}
			.column.small-right.push-threefifths {
				margin-right: 62.25%;
			}
		.column.small-push-fourfifths {
			margin-left: 83.00%;
		}
			.column.small-right.push-fourfifths {
				margin-right: 83.00%;
			}

	/*Fluid column widths*/
	.column.small-one {
		width: 4.85%;
	}
	.column.small-two,
	.column.small-sixth {
		width: 13.45%;
	}
	.column.small-three,
	.column.small-fourth {
		width: 22.05%;
	}
	.column.small-four,
	.column.small-twosixths,
	.column.small-third {
		width: 30.75%;
	}
	.column.small-five {
		width: 39.45%;
	}
	.column.small-six,
	.column.small-half,
	.column.small-threesixths,
	.column.small-twofourths {
		width: 48%;
	}
	.column.small-seven {
		width: 56.75%;
	}
	.column.small-eight,
	.column.small-foursixths,
	.column.small-twothirds {
		width: 65.4%;
	}
	.column.small-nine,
	.column.small-threefourths {
		width: 74.05%;
	}
	.column.small-ten,
	.column.small-fivesixths {
		width: 82.7%;
	}
	.column.small-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.small-push-one {
		margin-left: 8.65%;
	}
		.column.right.small-push-one {
			margin-right: 8.65%;
		}
	.column.small-push-two,
	.column.small-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.small-push-two,
		.column.right.small-push-sixth {
			margin-right: 17.25%;
		}
	.column.small-push-three,
	.column.small-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.small-push-three,
		.column.right.small-push-fourth {
			margin-right: 25.85%;
		}
	.column.small-push-four,
	.column.small-push-twosixths,
	.column.small-push-third {
		margin-left: 34.55%;
	}
		.column.right.small-push-four,
		.column.right.small-push-twosixths,
		.column.right.small-push-third {
			margin-right: 34.55%;
		}
	.column.small-push-five {
		margin-left: 43.25%;
	}
		.column.right.small-push-five {
			margin-right: 43.25%;
		}
	.column.small-push-six,
	.column.small-push-half,
	.column.small-push-threesixths,
	.column.small-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.small-push-six,
		.column.right.small-push-half,
		.column.right.small-push-threesixths,
		.column.right.small-push-twofourths {
			margin-right: 51.8%;
		}
	.column.small-push-seven {
		margin-left: 60.55%;
	}
		.column.right.small-push-seven {
			margin-right: 60.55%;
		}
	.column.small-push-eight,
	.column.small-push-foursixths,
	.column.small-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.small-push-eight,
		.column.right.small-push-foursixths,
		.column.right.small-push-twothirds {
			margin-right: 69.2%;
		}
	.column.small-push-nine,
	.column.small-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.small-push-nine,
		.column.right.small-push-threefourths {
			margin-right: 77.85%;
		}
	.column.small-push-ten,
	.column.small-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.small-push-ten,
		.column.right.small-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.small-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.small-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.small-one.reset {
		width: 8.3%;
	}
	.column.small-two.reset,
	.column.small-sixth.reset {
		width: 16.65%;
	}
	.column.small-three.reset,
	.column.small-fourth.reset {
		width: 25%;
	}
	.column.small-four.reset,
	.column.small-twosixths.reset,
	.column.small-third.reset {
		width: 33.3%;
	}
	.column.small-five.reset {
		width: 41.65%;
	}
	.column.small-six.reset,
	.column.small-half.reset,
	.column.small-threesixths.reset,
	.column.small-twofourths.reset {
		width: 50%;
	}
	.column.small-seven.reset {
		width: 58.3%;
	}
	.column.small-eight.reset,
	.column.small-foursixths.reset,
	.column.small-twothirds.reset {
		width: 66.6%;
	}
	.column.small-nine.reset,
	.column.small-threefourths.reset {
		width: 75%;
	}
	.column.small-ten.reset,
	.column.small-fivesixths.reset {
		width: 83.35%;
	}
	.column.small-eleven.reset {
		width: 91.7%;
	}
	.column.small-full.reset,
	.column.small-twelve.reset {
		width: 100%;
	}

	/*Shift no-gutter columns*/
	.column.reset.small-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.small-push-one {
			margin-right: 8.3%;
		}
	.column.reset.small-push-two,
	.column.reset.small-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.small-push-two,
		.column.reset.right.small-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.small-push-three,
	.column.reset.small-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.small-push-three,
		.column.reset.right.small-push-fourth {
			margin-right: 25%;
		}
	.column.reset.small-push-four,
	.column.reset.small-push-twosixths,
	.column.reset.small-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.small-push-four,
		.column.reset.right.small-push-twosixths,
		.column.reset.right.small-push-third {
			margin-right: 33.3%;
		}
	.column.reset.small-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.small-push-five {
			margin-right: 41.65%;
		}
	.column.reset.small-push-six,
	.column.reset.small-push-half,
	.column.reset.small-push-threesixths,
	.column.reset.small-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.small-push-six,
		.column.right.reset.small-push-half,
		.column.right.reset.small-push-threesixths,
		.column.right.reset.small-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.small-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.small-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.small-push-eight,
	.column.reset.small-push-foursixths,
	.column.reset.small-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.small-push-eight,
		.column.reset.right.small-push-foursixths,
		.column.reset.right.small-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.small-push-nine,
	.column.reset.small-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.small-push-nine,
		.column.reset.right.small-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.small-push-ten,
	.column.reset.small-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.small-push-ten,
		.column.reset.right.small-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.small-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.small-push-eleven {
			margin-right: 91.7%;
		}



	/*First column in the series*/
	.column.small-first,
	.column.first.small-first {
		clear: both;
	}

	/*Last column in the series*/
	.column.small-last,
	.column.last.small-last {
		margin-right: 0;
	}
		.column.right.small-last,
		.column.right.last.small-last {
			margin-left: 0;
		}



	/*Break columns after this*/
	.column.small-break {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}@media handheld, only screen and (max-width: 69.9375em) {

	/*Show/hide*/
	.hidden-under-medium {
		display: none;
	}

}
@media handheld, only screen and (min-width: 70em) {

	/*Show/hide*/
	.hidden-over-medium {
		display: none;
	}

	/*Width limit*/
	.limit-medium {
		max-width: 70em;
	}



	/*Roll back default first-in-line behavior*/
	.column.first[class^="medium-"],
	.column.first[class*=" medium-"] {
		clear: none;
	}

	/*Roll back first-in-line behavior of the previous break point set*/
	.column.small-first[class^="medium-"],
	.column.small-first[class*=" medium-"] {
		clear: none;
	}



	/*Roll back default last-in-line behavior*/
	.column.last[class^="medium-"],
	.column.last[class*=" medium-"],

	/*Roll back last-in-line behavior of the previous break point set*/
	.column.small-last[class^="medium-"],
	.column.small-last[class*=" medium-"] {
		margin-right: 3.8%;
	}

		/*Roll back default last-in-line behavior*/
		.column.right.last[class^="medium-"],
		.column.right.last[class*=" medium-"],

		/*Roll back last-in-line behavior of the previous break point set*/
		.column.right.small-last[class^="medium-"],
		.column.right.small-last[class*=" medium-"] {
			margin-left: 3.8%;
		}



	/*Column basics*/
	.column[class^="medium-"],
	.column[class*=" medium-"] {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right[class^="medium-"],
		.column.right[class*=" medium-"] {
			float: right;
			margin-right: 0;
			margin-left: 3.8%;
		}
		.column.reset[class^="medium-"],
		.column.reset[class*=" medium-"] {
			margin-right: 0;
			margin-left: 0;
		}

	/*Full-width column*/
	.column.medium-full,
	.column.medium-twelve {
		width: 100%;
	}



	/*Fifth*/
	.column.medium-fifth {
		width: 16.95%;
	}
	.column.medium-twofifths {
		width: 37.70%;
	}
	.column.medium-threefifths {
		width: 58.45%;
	}
	.column.medium-fourfifths {
		width: 79.20%;
	}
		.column.medium-push-fifth {
			margin-left: 20.45%;
		}
			.column.medium-right.push-fifth {
				margin-right: 20.45%;
			}
		.column.medium-push-twofifths {
			margin-left: 41.50%;
		}
			.column.medium-right.push-twofifths {
				margin-right: 41.50%;
			}
		.column.medium-push-threefifths {
			margin-left: 62.25%;
		}
			.column.medium-right.push-threefifths {
				margin-right: 62.25%;
			}
		.column.medium-push-fourfifths {
			margin-left: 83.00%;
		}
			.column.medium-right.push-fourfifths {
				margin-right: 83.00%;
			}

	/*Fluid column widths*/
	.column.medium-one {
		width: 4.85%;
	}
	.column.medium-two,
	.column.medium-sixth {
		width: 13.45%;
	}
	.column.medium-three,
	.column.medium-fourth {
		width: 22.05%;
	}
	.column.medium-four,
	.column.medium-twosixths,
	.column.medium-third {
		width: 30.75%;
	}
	.column.medium-five {
		width: 39.45%;
	}
	.column.medium-six,
	.column.medium-half,
	.column.medium-threesixths,
	.column.medium-twofourths {
		width: 48%;
	}
	.column.medium-seven {
		width: 56.75%;
	}
	.column.medium-eight,
	.column.medium-foursixths,
	.column.medium-twothirds {
		width: 65.4%;
	}
	.column.medium-nine,
	.column.medium-threefourths {
		width: 74.05%;
	}
	.column.medium-ten,
	.column.medium-fivesixths {
		width: 82.7%;
	}
	.column.medium-eleven {
		width: 91.35%;
	}
	.column.medium-full.reset,
	.column.medium-twelve.reset {
		width: 100%;
	}

	/*Shift guttered columns*/
	.column.medium-push-one {
		margin-left: 8.65%;
	}
		.column.right.medium-push-one {
			margin-right: 8.65%;
		}
	.column.medium-push-two,
	.column.medium-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.medium-push-two,
		.column.right.medium-push-sixth {
			margin-right: 17.25%;
		}
	.column.medium-push-three,
	.column.medium-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.medium-push-three,
		.column.right.medium-push-fourth {
			margin-right: 25.85%;
		}
	.column.medium-push-four,
	.column.medium-push-twosixths,
	.column.medium-push-third {
		margin-left: 34.55%;
	}
		.column.right.medium-push-four,
		.column.right.medium-push-twosixths,
		.column.right.medium-push-third {
			margin-right: 34.55%;
		}
	.column.medium-push-five {
		margin-left: 43.25%;
	}
		.column.right.medium-push-five {
			margin-right: 43.25%;
		}
	.column.medium-push-six,
	.column.medium-push-half,
	.column.medium-push-threesixths,
	.column.medium-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.medium-push-six,
		.column.right.medium-push-half,
		.column.right.medium-push-threesixths,
		.column.right.medium-push-twofourths {
			margin-right: 51.8%;
		}
	.column.medium-push-seven {
		margin-left: 60.55%;
	}
		.column.right.medium-push-seven {
			margin-right: 60.55%;
		}
	.column.medium-push-eight,
	.column.medium-push-foursixths,
	.column.medium-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.medium-push-eight,
		.column.right.medium-push-foursixths,
		.column.right.medium-push-twothirds {
			margin-right: 69.2%;
		}
	.column.medium-push-nine,
	.column.medium-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.medium-push-nine,
		.column.right.medium-push-threefourths {
			margin-right: 77.85%;
		}
	.column.medium-push-ten,
	.column.medium-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.medium-push-ten,
		.column.right.medium-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.medium-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.medium-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.medium-one.reset {
		width: 8.3%;
	}
	.column.medium-two.reset,
	.column.medium-sixth.reset {
		width: 16.65%;
	}
	.column.medium-three.reset,
	.column.medium-fourth.reset {
		width: 25%;
	}
	.column.medium-four.reset,
	.column.medium-twosixths.reset,
	.column.medium-third.reset {
		width: 33.3%;
	}
	.column.medium-five.reset {
		width: 41.65%;
	}
	.column.medium-six.reset,
	.column.medium-half.reset,
	.column.medium-threesixths.reset,
	.column.medium-twofourths.reset {
		width: 50%;
	}
	.column.medium-seven.reset {
		width: 58.3%;
	}
	.column.medium-eight.reset,
	.column.medium-foursixths.reset,
	.column.medium-twothirds.reset {
		width: 66.6%;
	}
	.column.medium-nine.reset,
	.column.medium-threefourths.reset {
		width: 75%;
	}
	.column.medium-ten.reset,
	.column.medium-fivesixths.reset {
		width: 83.35%;
	}
	.column.medium-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.medium-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.medium-push-one {
			margin-right: 8.3%;
		}
	.column.reset.medium-push-two,
	.column.reset.medium-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.medium-push-two,
		.column.reset.right.medium-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.medium-push-three,
	.column.reset.medium-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.medium-push-three,
		.column.reset.right.medium-push-fourth {
			margin-right: 25%;
		}
	.column.reset.medium-push-four,
	.column.reset.medium-push-twosixths,
	.column.reset.medium-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.medium-push-four,
		.column.reset.right.medium-push-twosixths,
		.column.reset.right.medium-push-third {
			margin-right: 33.3%;
		}
	.column.reset.medium-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.medium-push-five {
			margin-right: 41.65%;
		}
	.column.reset.medium-push-six,
	.column.reset.medium-push-half,
	.column.reset.medium-push-threesixths,
	.column.reset.medium-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.medium-push-six,
		.column.right.reset.medium-push-half,
		.column.right.reset.medium-push-threesixths,
		.column.right.reset.medium-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.medium-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.medium-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.medium-push-eight,
	.column.reset.medium-push-foursixths,
	.column.reset.medium-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.medium-push-eight,
		.column.reset.right.medium-push-foursixths,
		.column.reset.right.medium-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.medium-push-nine,
	.column.reset.medium-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.medium-push-nine,
		.column.reset.right.medium-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.medium-push-ten,
	.column.reset.medium-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.medium-push-ten,
		.column.reset.right.medium-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.medium-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.medium-push-eleven {
			margin-right: 91.7%;
		}



	/*First column in the series*/
	.column.medium-first[class^="medium-"],
	.column.medium-first[class*=" medium-"] {
		clear: both;
	}

	/*Last column in this series*/
	.column.medium-last,

	/*Attribute selector matches because of the second class, but we need this for specificity*/
	.column.medium-last[class^="medium-"],
	.column.medium-last[class*=" medium-"] {
		margin-right: 0;
	}

		/*The same for right-aligned columns*/
		.column.right.medium-last,
		.column.right.medium-last[class^="medium-"],
		.column.right.medium-last[class*=" medium-"] {
			margin-right: 0;
		}



	/*Break columns after this*/
	.column.medium-break {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}@media handheld, only screen and (max-width: 99.9375em) {

	/*Show/hide*/
	.hidden-under-large {
		display: none;
	}

}
@media handheld, only screen and (min-width: 100em) {

	/*Show/hide*/
	.hidden-over-large {
		display: none;
	}

	/*Width limit*/
	.limit-large {
		max-width: 100em;
	}



	/*Roll back default first-in-line behavior*/
	.column.first[class^="large-"],
	.column.first[class*=" large-"] {
		clear: none;
	}

	/*Roll back first-in-line behavior of the previous break point set*/
	.column.medium-first[class^="large-"],
	.column.medium-first[class*=" large-"] {
		clear: none;
	}



	/*Roll back default last-in-line behavior*/
	.column.last[class^="large-"],
	.column.last[class*=" large-"],

	/*Roll back last-in-line behavior of the previous break point set*/
	.column.medium-last[class^="large-"],
	.column.medium-last[class*=" large-"] {
		margin-right: 3.8%;
	}

		/*Roll back default last-in-line behavior*/
		.column.right.last[class^="large-"],
		.column.right.last[class*=" large-"],

		/*Roll back last-in-line behavior of the previous break point set*/
		.column.right.medium-last[class^="large-"],
		.column.right.medium-last[class*=" large-"] {
			margin-left: 3.8%;
		}



	/*Column basics*/
	.column[class^="large-"],
	.column[class*=" large-"] {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right[class^="large-"],
		.column.right[class*=" large-"] {
			float: right;
			margin-right: 0;
			margin-left: 3.8%;
		}
		.column.reset[class^="large-"],
		.column.reset[class*=" large-"] {
			margin-right: 0;
			margin-left: 0;
		}

	/*Full-width column*/
	.column.large-full,
	.column.large-twelve {
		width: 100%;
	}



	/*Fifth*/
	.column.large-fifth {
		width: 16.95%;
	}
	.column.large-twofifths {
		width: 37.70%;
	}
	.column.large-threefifths {
		width: 58.45%;
	}
	.column.large-fourfifths {
		width: 79.20%;
	}
		.column.large-push-fifth {
			margin-left: 20.45%;
		}
			.column.large-right.push-fifth {
				margin-right: 20.45%;
			}
		.column.large-push-twofifths {
			margin-left: 41.50%;
		}
			.column.large-right.push-twofifths {
				margin-right: 41.50%;
			}
		.column.large-push-threefifths {
			margin-left: 62.25%;
		}
			.column.large-right.push-threefifths {
				margin-right: 62.25%;
			}
		.column.large-push-fourfifths {
			margin-left: 83.00%;
		}
			.column.large-right.push-fourfifths {
				margin-right: 83.00%;
			}

	/*Fluid column widths*/
	.column.large-one {
		width: 4.85%;
	}
	.column.large-two,
	.column.large-sixth {
		width: 13.45%;
	}
	.column.large-three,
	.column.large-fourth {
		width: 22.05%;
	}
	.column.large-four,
	.column.large-twosixths,
	.column.large-third {
		width: 30.75%;
	}
	.column.large-five {
		width: 39.45%;
	}
	.column.large-six,
	.column.large-half,
	.column.large-threesixths,
	.column.large-twofourths {
		width: 48%;
	}
	.column.large-seven {
		width: 56.75%;
	}
	.column.large-eight,
	.column.large-foursixths,
	.column.large-twothirds {
		width: 65.4%;
	}
	.column.large-nine,
	.column.large-threefourths {
		width: 74.05%;
	}
	.column.large-ten,
	.column.large-fivesixths {
		width: 82.7%;
	}
	.column.large-eleven {
		width: 91.35%;
	}
	.column.large-full.reset,
	.column.large-twelve.reset {
		width: 100%;
	}

	/*Shift guttered columns*/
	.column.large-push-one {
		margin-left: 8.65%;
	}
		.column.right.large-push-one {
			margin-right: 8.65%;
		}
	.column.large-push-two,
	.column.large-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.large-push-two,
		.column.right.large-push-sixth {
			margin-right: 17.25%;
		}
	.column.large-push-three,
	.column.large-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.large-push-three,
		.column.right.large-push-fourth {
			margin-right: 25.85%;
		}
	.column.large-push-four,
	.column.large-push-twosixths,
	.column.large-push-third {
		margin-left: 34.55%;
	}
		.column.right.large-push-four,
		.column.right.large-push-twosixths,
		.column.right.large-push-third {
			margin-right: 34.55%;
		}
	.column.large-push-five {
		margin-left: 43.25%;
	}
		.column.right.large-push-five {
			margin-right: 43.25%;
		}
	.column.large-push-six,
	.column.large-push-half,
	.column.large-push-threesixths,
	.column.large-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.large-push-six,
		.column.right.large-push-half,
		.column.right.large-push-threesixths,
		.column.right.large-push-twofourths {
			margin-right: 51.8%;
		}
	.column.large-push-seven {
		margin-left: 60.55%;
	}
		.column.right.large-push-seven {
			margin-right: 60.55%;
		}
	.column.large-push-eight,
	.column.large-push-foursixths,
	.column.large-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.large-push-eight,
		.column.right.large-push-foursixths,
		.column.right.large-push-twothirds {
			margin-right: 69.2%;
		}
	.column.large-push-nine,
	.column.large-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.large-push-nine,
		.column.right.large-push-threefourths {
			margin-right: 77.85%;
		}
	.column.large-push-ten,
	.column.large-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.large-push-ten,
		.column.right.large-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.large-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.large-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.large-one.reset {
		width: 8.3%;
	}
	.column.large-two.reset,
	.column.large-sixth.reset {
		width: 16.65%;
	}
	.column.large-three.reset,
	.column.large-fourth.reset {
		width: 25%;
	}
	.column.large-four.reset,
	.column.large-twosixths.reset,
	.column.large-third.reset {
		width: 33.3%;
	}
	.column.large-five.reset {
		width: 41.65%;
	}
	.column.large-six.reset,
	.column.large-half.reset,
	.column.large-threesixths.reset,
	.column.large-twofourths.reset {
		width: 50%;
	}
	.column.large-seven.reset {
		width: 58.3%;
	}
	.column.large-eight.reset,
	.column.large-foursixths.reset,
	.column.large-twothirds.reset {
		width: 66.6%;
	}
	.column.large-nine.reset,
	.column.large-threefourths.reset {
		width: 75%;
	}
	.column.large-ten.reset,
	.column.large-fivesixths.reset {
		width: 83.35%;
	}
	.column.large-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.large-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.large-push-one {
			margin-right: 8.3%;
		}
	.column.reset.large-push-two,
	.column.reset.large-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.large-push-two,
		.column.reset.right.large-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.large-push-three,
	.column.reset.large-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.large-push-three,
		.column.reset.right.large-push-fourth {
			margin-right: 25%;
		}
	.column.reset.large-push-four,
	.column.reset.large-push-twosixths,
	.column.reset.large-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.large-push-four,
		.column.reset.right.large-push-twosixths,
		.column.reset.right.large-push-third {
			margin-right: 33.3%;
		}
	.column.reset.large-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.large-push-five {
			margin-right: 41.65%;
		}
	.column.reset.large-push-six,
	.column.reset.large-push-half,
	.column.reset.large-push-threesixths,
	.column.reset.large-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.large-push-six,
		.column.right.reset.large-push-half,
		.column.right.reset.large-push-threesixths,
		.column.right.reset.large-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.large-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.large-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.large-push-eight,
	.column.reset.large-push-foursixths,
	.column.reset.large-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.large-push-eight,
		.column.reset.right.large-push-foursixths,
		.column.reset.right.large-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.large-push-nine,
	.column.reset.large-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.large-push-nine,
		.column.reset.right.large-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.large-push-ten,
	.column.reset.large-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.large-push-ten,
		.column.reset.right.large-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.large-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.large-push-eleven {
			margin-right: 91.7%;
		}



	/*First column in the series*/
	.column.large-first[class^="large-"],
	.column.large-first[class*=" large-"] {
		clear: both;
	}

	/*Last column in this series*/
	.column.large-last,

	/*Attribute selector matches because of the second class, but we need this for specificity*/
	.column.large-last[class^="large-"],
	.column.large-last[class*=" large-"] {
		margin-right: 0;
	}

		/*The same for right-aligned columns*/
		.column.right.large-last,
		.column.right.large-last[class^="large-"],
		.column.right.large-last[class*=" large-"] {
			margin-right: 0;
		}



	/*Break columns after this*/
	.column.large-break {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}