/*
Layers CSS 1.1.0  responsive adjustments
Released by Jerry Jäppinen under the MIT license
http://eiskis.net/layers
2014-06-14 00:22 UTC
*/

/*Very narrow viewport and up*/
@media handheld, only screen and (min-width: 360px) {

	/*Column basics*/
	.column.tiny-one,
	.column.tiny-two,
	.column.tiny-sixth,
	.column.tiny-three,
	.column.tiny-fourth,
	.column.tiny-four,
	.column.tiny-twosixths,
	.column.tiny-third,
	.column.tiny-five,
	.column.tiny-six,
	.column.tiny-half,
	.column.tiny-threesixths,
	.column.tiny-twofourths,
	.column.tiny-seven,
	.column.tiny-eight,
	.column.tiny-foursixths,
	.column.tiny-twothirds,
	.column.tiny-nine,
	.column.tiny-threefourths,
	.column.tiny-ten,
	.column.tiny-fivesixths,
	.column.tiny-eleven,
	.column.tiny-twelve,
	.column.tiny-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.tiny-one,
		.column.right.tiny-two,
		.column.right.tiny-sixth,
		.column.right.tiny-three,
		.column.right.tiny-fourth,
		.column.right.tiny-four,
		.column.right.tiny-twosixths,
		.column.right.tiny-third,
		.column.right.tiny-five,
		.column.right.tiny-six,
		.column.right.tiny-half,
		.column.right.tiny-threesixths,
		.column.right.tiny-twofourths,
		.column.right.tiny-seven,
		.column.right.tiny-eight,
		.column.right.tiny-foursixths,
		.column.right.tiny-twothirds,
		.column.right.tiny-nine,
		.column.right.tiny-threefourths,
		.column.right.tiny-ten,
		.column.right.tiny-fivesixths,
		.column.right.tiny-eleven,
		.column.right.tiny-twelve,
		.column.right.tiny-full {
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.tiny-full,
	.column.tiny-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.tiny-one {
		width: 4.85%;
	}
	.column.tiny-two,
	.column.tiny-sixth {
		width: 13.45%;
	}
	.column.tiny-three,
	.column.tiny-fourth {
		width: 22.05%;
	}
	.column.tiny-four,
	.column.tiny-twosixths,
	.column.tiny-third {
		width: 30.75%;
	}
	.column.tiny-five {
		width: 39.45%;
	}
	.column.tiny-six,
	.column.tiny-half,
	.column.tiny-threesixths,
	.column.tiny-twofourths {
		width: 48%;
	}
	.column.tiny-seven {
		width: 56.75%;
	}
	.column.tiny-eight,
	.column.tiny-foursixths,
	.column.tiny-twothirds {
		width: 65.4%;
	}
	.column.tiny-nine,
	.column.tiny-threefourths {
		width: 74.05%;
	}
	.column.tiny-ten,
	.column.tiny-fivesixths {
		width: 82.7%;
	}
	.column.tiny-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.tiny-push-one {
		margin-left: 8.65%;
	}
		.column.right.tiny-push-one {
			margin-right: 8.65%;
		}
	.column.tiny-push-two,
	.column.tiny-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.tiny-push-two,
		.column.right.tiny-push-sixth {
			margin-right: 17.25%;
		}
	.column.tiny-push-three,
	.column.tiny-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.tiny-push-three,
		.column.right.tiny-push-fourth {
			margin-right: 25.85%;
		}
	.column.tiny-push-four,
	.column.tiny-push-twosixths,
	.column.tiny-push-third {
		margin-left: 34.55%;
	}
		.column.right.tiny-push-four,
		.column.right.tiny-push-twosixths,
		.column.right.tiny-push-third {
			margin-right: 34.55%;
		}
	.column.tiny-push-five {
		margin-left: 43.25%;
	}
		.column.right.tiny-push-five {
			margin-right: 43.25%;
		}
	.column.tiny-push-six,
	.column.tiny-push-half,
	.column.tiny-push-threesixths,
	.column.tiny-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.tiny-push-six,
		.column.right.tiny-push-half,
		.column.right.tiny-push-threesixths,
		.column.right.tiny-push-twofourths {
			margin-right: 51.8%;
		}
	.column.tiny-push-seven {
		margin-left: 60.55%;
	}
		.column.right.tiny-push-seven {
			margin-right: 60.55%;
		}
	.column.tiny-push-eight,
	.column.tiny-push-foursixths,
	.column.tiny-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.tiny-push-eight,
		.column.right.tiny-push-foursixths,
		.column.right.tiny-push-twothirds {
			margin-right: 69.2%;
		}
	.column.tiny-push-nine,
	.column.tiny-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.tiny-push-nine,
		.column.right.tiny-push-threefourths {
			margin-right: 77.85%;
		}
	.column.tiny-push-ten,
	.column.tiny-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.tiny-push-ten,
		.column.right.tiny-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.tiny-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.tiny-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.tiny-one.reset {
		width: 8.3%;
	}
	.column.tiny-two.reset,
	.column.tiny-sixth.reset {
		width: 16.65%;
	}
	.column.tiny-three.reset,
	.column.tiny-fourth.reset {
		width: 25%;
	}
	.column.tiny-four.reset,
	.column.tiny-twosixths.reset,
	.column.tiny-third.reset {
		width: 33.3%;
	}
	.column.tiny-five.reset {
		width: 41.65%;
	}
	.column.tiny-six.reset,
	.column.tiny-half.reset,
	.column.tiny-threesixths.reset,
	.column.tiny-twofourths.reset {
		width: 50%;
	}
	.column.tiny-seven.reset {
		width: 58.3%;
	}
	.column.tiny-eight.reset,
	.column.tiny-foursixths.reset,
	.column.tiny-twothirds.reset {
		width: 66.6%;
	}
	.column.tiny-nine.reset,
	.column.tiny-threefourths.reset {
		width: 75%;
	}
	.column.tiny-ten.reset,
	.column.tiny-fivesixths.reset {
		width: 83.35%;
	}
	.column.tiny-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.tiny-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.tiny-push-one {
			margin-right: 8.3%;
		}
	.column.reset.tiny-push-two,
	.column.reset.tiny-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.tiny-push-two,
		.column.reset.right.tiny-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.tiny-push-three,
	.column.reset.tiny-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.tiny-push-three,
		.column.reset.right.tiny-push-fourth {
			margin-right: 25%;
		}
	.column.reset.tiny-push-four,
	.column.reset.tiny-push-twosixths,
	.column.reset.tiny-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.tiny-push-four,
		.column.reset.right.tiny-push-twosixths,
		.column.reset.right.tiny-push-third {
			margin-right: 33.3%;
		}
	.column.reset.tiny-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.tiny-push-five {
			margin-right: 41.65%;
		}
	.column.reset.tiny-push-six,
	.column.reset.tiny-push-half,
	.column.reset.tiny-push-threesixths,
	.column.reset.tiny-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.tiny-push-six,
		.column.right.reset.tiny-push-half,
		.column.right.reset.tiny-push-threesixths,
		.column.right.reset.tiny-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.tiny-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.tiny-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.tiny-push-eight,
	.column.reset.tiny-push-foursixths,
	.column.reset.tiny-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.tiny-push-eight,
		.column.reset.right.tiny-push-foursixths,
		.column.reset.right.tiny-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.tiny-push-nine,
	.column.reset.tiny-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.tiny-push-nine,
		.column.reset.right.tiny-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.tiny-push-ten,
	.column.reset.tiny-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.tiny-push-ten,
		.column.reset.right.tiny-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.tiny-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.tiny-push-eleven {
			margin-right: 91.7%;
		}

	/*Last column in the series*/
	.column.tiny-last {
		margin-right: 0;
	}



	/*Break columns after this*/
	.column.break-tiny {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}

/*small-sized viewport and up*/
@media handheld, only screen and (min-width: 768px) {

	/*Column basics*/
	.column.small-one,
	.column.small-two,
	.column.small-sixth,
	.column.small-three,
	.column.small-fourth,
	.column.small-four,
	.column.small-twosixths,
	.column.small-third,
	.column.small-five,
	.column.small-six,
	.column.small-half,
	.column.small-threesixths,
	.column.small-twofourths,
	.column.small-seven,
	.column.small-eight,
	.column.small-foursixths,
	.column.small-twothirds,
	.column.small-nine,
	.column.small-threefourths,
	.column.small-ten,
	.column.small-fivesixths,
	.column.small-eleven,
	.column.small-twelve,
	.column.small-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.small-one,
		.column.right.small-two,
		.column.right.small-sixth,
		.column.right.small-three,
		.column.right.small-fourth,
		.column.right.small-four,
		.column.right.small-twosixths,
		.column.right.small-third,
		.column.right.small-five,
		.column.right.small-six,
		.column.right.small-half,
		.column.right.small-threesixths,
		.column.right.small-twofourths,
		.column.right.small-seven,
		.column.right.small-eight,
		.column.right.small-foursixths,
		.column.right.small-twothirds,
		.column.right.small-nine,
		.column.right.small-threefourths,
		.column.right.small-ten,
		.column.right.small-fivesixths,
		.column.right.small-eleven,
		.column.right.small-twelve,
		.column.right.small-full {
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.small-full,
	.column.small-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.small-one {
		width: 4.85%;
	}
	.column.small-two,
	.column.small-sixth {
		width: 13.45%;
	}
	.column.small-three,
	.column.small-fourth {
		width: 22.05%;
	}
	.column.small-four,
	.column.small-twosixths,
	.column.small-third {
		width: 30.75%;
	}
	.column.small-five {
		width: 39.45%;
	}
	.column.small-six,
	.column.small-half,
	.column.small-threesixths,
	.column.small-twofourths {
		width: 48%;
	}
	.column.small-seven {
		width: 56.75%;
	}
	.column.small-eight,
	.column.small-foursixths,
	.column.small-twothirds {
		width: 65.4%;
	}
	.column.small-nine,
	.column.small-threefourths {
		width: 74.05%;
	}
	.column.small-ten,
	.column.small-fivesixths {
		width: 82.7%;
	}
	.column.small-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.small-push-one {
		margin-left: 8.65%;
	}
		.column.right.small-push-one {
			margin-right: 8.65%;
		}
	.column.small-push-two,
	.column.small-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.small-push-two,
		.column.right.small-push-sixth {
			margin-right: 17.25%;
		}
	.column.small-push-three,
	.column.small-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.small-push-three,
		.column.right.small-push-fourth {
			margin-right: 25.85%;
		}
	.column.small-push-four,
	.column.small-push-twosixths,
	.column.small-push-third {
		margin-left: 34.55%;
	}
		.column.right.small-push-four,
		.column.right.small-push-twosixths,
		.column.right.small-push-third {
			margin-right: 34.55%;
		}
	.column.small-push-five {
		margin-left: 43.25%;
	}
		.column.right.small-push-five {
			margin-right: 43.25%;
		}
	.column.small-push-six,
	.column.small-push-half,
	.column.small-push-threesixths,
	.column.small-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.small-push-six,
		.column.right.small-push-half,
		.column.right.small-push-threesixths,
		.column.right.small-push-twofourths {
			margin-right: 51.8%;
		}
	.column.small-push-seven {
		margin-left: 60.55%;
	}
		.column.right.small-push-seven {
			margin-right: 60.55%;
		}
	.column.small-push-eight,
	.column.small-push-foursixths,
	.column.small-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.small-push-eight,
		.column.right.small-push-foursixths,
		.column.right.small-push-twothirds {
			margin-right: 69.2%;
		}
	.column.small-push-nine,
	.column.small-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.small-push-nine,
		.column.right.small-push-threefourths {
			margin-right: 77.85%;
		}
	.column.small-push-ten,
	.column.small-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.small-push-ten,
		.column.right.small-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.small-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.small-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.small-one.reset {
		width: 8.3%;
	}
	.column.small-two.reset,
	.column.small-sixth.reset {
		width: 16.65%;
	}
	.column.small-three.reset,
	.column.small-fourth.reset {
		width: 25%;
	}
	.column.small-four.reset,
	.column.small-twosixths.reset,
	.column.small-third.reset {
		width: 33.3%;
	}
	.column.small-five.reset {
		width: 41.65%;
	}
	.column.small-six.reset,
	.column.small-half.reset,
	.column.small-threesixths.reset,
	.column.small-twofourths.reset {
		width: 50%;
	}
	.column.small-seven.reset {
		width: 58.3%;
	}
	.column.small-eight.reset,
	.column.small-foursixths.reset,
	.column.small-twothirds.reset {
		width: 66.6%;
	}
	.column.small-nine.reset,
	.column.small-threefourths.reset {
		width: 75%;
	}
	.column.small-ten.reset,
	.column.small-fivesixths.reset {
		width: 83.35%;
	}
	.column.small-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.small-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.small-push-one {
			margin-right: 8.3%;
		}
	.column.reset.small-push-two,
	.column.reset.small-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.small-push-two,
		.column.reset.right.small-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.small-push-three,
	.column.reset.small-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.small-push-three,
		.column.reset.right.small-push-fourth {
			margin-right: 25%;
		}
	.column.reset.small-push-four,
	.column.reset.small-push-twosixths,
	.column.reset.small-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.small-push-four,
		.column.reset.right.small-push-twosixths,
		.column.reset.right.small-push-third {
			margin-right: 33.3%;
		}
	.column.reset.small-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.small-push-five {
			margin-right: 41.65%;
		}
	.column.reset.small-push-six,
	.column.reset.small-push-half,
	.column.reset.small-push-threesixths,
	.column.reset.small-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.small-push-six,
		.column.right.reset.small-push-half,
		.column.right.reset.small-push-threesixths,
		.column.right.reset.small-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.small-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.small-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.small-push-eight,
	.column.reset.small-push-foursixths,
	.column.reset.small-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.small-push-eight,
		.column.reset.right.small-push-foursixths,
		.column.reset.right.small-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.small-push-nine,
	.column.reset.small-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.small-push-nine,
		.column.reset.right.small-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.small-push-ten,
	.column.reset.small-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.small-push-ten,
		.column.reset.right.small-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.small-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.small-push-eleven {
			margin-right: 91.7%;
		}

	/*Last column in the series*/
	.column.small-last {
		margin-right: 0;
	}



	/*Break columns after this*/
	.column.break-small {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}

/*Wide viewport and up*/
@media handheld, only screen and (min-width: 1024px) {

	/*Column basics*/
	.column.medium-one,
	.column.medium-two,
	.column.medium-sixth,
	.column.medium-three,
	.column.medium-fourth,
	.column.medium-four,
	.column.medium-twosixths,
	.column.medium-third,
	.column.medium-five,
	.column.medium-six,
	.column.medium-half,
	.column.medium-threesixths,
	.column.medium-twofourths,
	.column.medium-seven,
	.column.medium-eight,
	.column.medium-foursixths,
	.column.medium-twothirds,
	.column.medium-nine,
	.column.medium-threefourths,
	.column.medium-ten,
	.column.medium-fivesixths,
	.column.medium-eleven,
	.column.medium-twelve,
	.column.medium-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.medium-one,
		.column.right.medium-two,
		.column.right.medium-sixth,
		.column.right.medium-three,
		.column.right.medium-fourth,
		.column.right.medium-four,
		.column.right.medium-twosixths,
		.column.right.medium-third,
		.column.right.medium-five,
		.column.right.medium-six,
		.column.right.medium-half,
		.column.right.medium-threesixths,
		.column.right.medium-twofourths,
		.column.right.medium-seven,
		.column.right.medium-eight,
		.column.right.medium-foursixths,
		.column.right.medium-twothirds,
		.column.right.medium-nine,
		.column.right.medium-threefourths,
		.column.right.medium-ten,
		.column.right.medium-fivesixths,
		.column.right.medium-eleven,
		.column.right.medium-twelve,
		.column.right.medium-full {
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.medium-full,
	.column.medium-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.medium-one {
		width: 4.85%;
	}
	.column.medium-two,
	.column.medium-sixth {
		width: 13.45%;
	}
	.column.medium-three,
	.column.medium-fourth {
		width: 22.05%;
	}
	.column.medium-four,
	.column.medium-twosixths,
	.column.medium-third {
		width: 30.75%;
	}
	.column.medium-five {
		width: 39.45%;
	}
	.column.medium-six,
	.column.medium-half,
	.column.medium-threesixths,
	.column.medium-twofourths {
		width: 48%;
	}
	.column.medium-seven {
		width: 56.75%;
	}
	.column.medium-eight,
	.column.medium-foursixths,
	.column.medium-twothirds {
		width: 65.4%;
	}
	.column.medium-nine,
	.column.medium-threefourths {
		width: 74.05%;
	}
	.column.medium-ten,
	.column.medium-fivesixths {
		width: 82.7%;
	}
	.column.medium-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.medium-push-one {
		margin-left: 8.65%;
	}
		.column.right.medium-push-one {
			margin-right: 8.65%;
		}
	.column.medium-push-two,
	.column.medium-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.medium-push-two,
		.column.right.medium-push-sixth {
			margin-right: 17.25%;
		}
	.column.medium-push-three,
	.column.medium-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.medium-push-three,
		.column.right.medium-push-fourth {
			margin-right: 25.85%;
		}
	.column.medium-push-four,
	.column.medium-push-twosixths,
	.column.medium-push-third {
		margin-left: 34.55%;
	}
		.column.right.medium-push-four,
		.column.right.medium-push-twosixths,
		.column.right.medium-push-third {
			margin-right: 34.55%;
		}
	.column.medium-push-five {
		margin-left: 43.25%;
	}
		.column.right.medium-push-five {
			margin-right: 43.25%;
		}
	.column.medium-push-six,
	.column.medium-push-half,
	.column.medium-push-threesixths,
	.column.medium-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.medium-push-six,
		.column.right.medium-push-half,
		.column.right.medium-push-threesixths,
		.column.right.medium-push-twofourths {
			margin-right: 51.8%;
		}
	.column.medium-push-seven {
		margin-left: 60.55%;
	}
		.column.right.medium-push-seven {
			margin-right: 60.55%;
		}
	.column.medium-push-eight,
	.column.medium-push-foursixths,
	.column.medium-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.medium-push-eight,
		.column.right.medium-push-foursixths,
		.column.right.medium-push-twothirds {
			margin-right: 69.2%;
		}
	.column.medium-push-nine,
	.column.medium-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.medium-push-nine,
		.column.right.medium-push-threefourths {
			margin-right: 77.85%;
		}
	.column.medium-push-ten,
	.column.medium-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.medium-push-ten,
		.column.right.medium-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.medium-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.medium-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.medium-one.reset {
		width: 8.3%;
	}
	.column.medium-two.reset,
	.column.medium-sixth.reset {
		width: 16.65%;
	}
	.column.medium-three.reset,
	.column.medium-fourth.reset {
		width: 25%;
	}
	.column.medium-four.reset,
	.column.medium-twosixths.reset,
	.column.medium-third.reset {
		width: 33.3%;
	}
	.column.medium-five.reset {
		width: 41.65%;
	}
	.column.medium-six.reset,
	.column.medium-half.reset,
	.column.medium-threesixths.reset,
	.column.medium-twofourths.reset {
		width: 50%;
	}
	.column.medium-seven.reset {
		width: 58.3%;
	}
	.column.medium-eight.reset,
	.column.medium-foursixths.reset,
	.column.medium-twothirds.reset {
		width: 66.6%;
	}
	.column.medium-nine.reset,
	.column.medium-threefourths.reset {
		width: 75%;
	}
	.column.medium-ten.reset,
	.column.medium-fivesixths.reset {
		width: 83.35%;
	}
	.column.medium-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.medium-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.medium-push-one {
			margin-right: 8.3%;
		}
	.column.reset.medium-push-two,
	.column.reset.medium-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.medium-push-two,
		.column.reset.right.medium-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.medium-push-three,
	.column.reset.medium-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.medium-push-three,
		.column.reset.right.medium-push-fourth {
			margin-right: 25%;
		}
	.column.reset.medium-push-four,
	.column.reset.medium-push-twosixths,
	.column.reset.medium-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.medium-push-four,
		.column.reset.right.medium-push-twosixths,
		.column.reset.right.medium-push-third {
			margin-right: 33.3%;
		}
	.column.reset.medium-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.medium-push-five {
			margin-right: 41.65%;
		}
	.column.reset.medium-push-six,
	.column.reset.medium-push-half,
	.column.reset.medium-push-threesixths,
	.column.reset.medium-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.medium-push-six,
		.column.right.reset.medium-push-half,
		.column.right.reset.medium-push-threesixths,
		.column.right.reset.medium-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.medium-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.medium-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.medium-push-eight,
	.column.reset.medium-push-foursixths,
	.column.reset.medium-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.medium-push-eight,
		.column.reset.right.medium-push-foursixths,
		.column.reset.right.medium-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.medium-push-nine,
	.column.reset.medium-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.medium-push-nine,
		.column.reset.right.medium-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.medium-push-ten,
	.column.reset.medium-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.medium-push-ten,
		.column.reset.right.medium-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.medium-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.medium-push-eleven {
			margin-right: 91.7%;
		}

	/*Last column in the series*/
	.column.medium-last {
		margin-right: 0;
	}



	/*Break columns after this*/
	.column.break-medium {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}

/*Very wide viewport and up*/
@media handheld, only screen and (min-width: 1440px) {

	/*Column basics*/
	.column.large-one,
	.column.large-two,
	.column.large-sixth,
	.column.large-three,
	.column.large-fourth,
	.column.large-four,
	.column.large-twosixths,
	.column.large-third,
	.column.large-five,
	.column.large-six,
	.column.large-half,
	.column.large-threesixths,
	.column.large-twofourths,
	.column.large-seven,
	.column.large-eight,
	.column.large-foursixths,
	.column.large-twothirds,
	.column.large-nine,
	.column.large-threefourths,
	.column.large-ten,
	.column.large-fivesixths,
	.column.large-eleven,
	.column.large-twelve,
	.column.large-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.large-one,
		.column.right.large-two,
		.column.right.large-sixth,
		.column.right.large-three,
		.column.right.large-fourth,
		.column.right.large-four,
		.column.right.large-twosixths,
		.column.right.large-third,
		.column.right.large-five,
		.column.right.large-six,
		.column.right.large-half,
		.column.right.large-threesixths,
		.column.right.large-twofourths,
		.column.right.large-seven,
		.column.right.large-eight,
		.column.right.large-foursixths,
		.column.right.large-twothirds,
		.column.right.large-nine,
		.column.right.large-threefourths,
		.column.right.large-ten,
		.column.right.large-fivesixths,
		.column.right.large-eleven,
		.column.right.large-twelve,
		.column.right.large-full {
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.large-full,
	.column.large-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.large-one {
		width: 4.85%;
	}
	.column.large-two,
	.column.large-sixth {
		width: 13.45%;
	}
	.column.large-three,
	.column.large-fourth {
		width: 22.05%;
	}
	.column.large-four,
	.column.large-twosixths,
	.column.large-third {
		width: 30.75%;
	}
	.column.large-five {
		width: 39.45%;
	}
	.column.large-six,
	.column.large-half,
	.column.large-threesixths,
	.column.large-twofourths {
		width: 48%;
	}
	.column.large-seven {
		width: 56.75%;
	}
	.column.large-eight,
	.column.large-foursixths,
	.column.large-twothirds {
		width: 65.4%;
	}
	.column.large-nine,
	.column.large-threefourths {
		width: 74.05%;
	}
	.column.large-ten,
	.column.large-fivesixths {
		width: 82.7%;
	}
	.column.large-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.large-push-one {
		margin-left: 8.65%;
	}
		.column.right.large-push-one {
			margin-right: 8.65%;
		}
	.column.large-push-two,
	.column.large-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.large-push-two,
		.column.right.large-push-sixth {
			margin-right: 17.25%;
		}
	.column.large-push-three,
	.column.large-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.large-push-three,
		.column.right.large-push-fourth {
			margin-right: 25.85%;
		}
	.column.large-push-four,
	.column.large-push-twosixths,
	.column.large-push-third {
		margin-left: 34.55%;
	}
		.column.right.large-push-four,
		.column.right.large-push-twosixths,
		.column.right.large-push-third {
			margin-right: 34.55%;
		}
	.column.large-push-five {
		margin-left: 43.25%;
	}
		.column.right.large-push-five {
			margin-right: 43.25%;
		}
	.column.large-push-six,
	.column.large-push-half,
	.column.large-push-threesixths,
	.column.large-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.large-push-six,
		.column.right.large-push-half,
		.column.right.large-push-threesixths,
		.column.right.large-push-twofourths {
			margin-right: 51.8%;
		}
	.column.large-push-seven {
		margin-left: 60.55%;
	}
		.column.right.large-push-seven {
			margin-right: 60.55%;
		}
	.column.large-push-eight,
	.column.large-push-foursixths,
	.column.large-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.large-push-eight,
		.column.right.large-push-foursixths,
		.column.right.large-push-twothirds {
			margin-right: 69.2%;
		}
	.column.large-push-nine,
	.column.large-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.large-push-nine,
		.column.right.large-push-threefourths {
			margin-right: 77.85%;
		}
	.column.large-push-ten,
	.column.large-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.large-push-ten,
		.column.right.large-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.large-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.large-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.large-one.reset {
		width: 8.3%;
	}
	.column.large-two.reset,
	.column.large-sixth.reset {
		width: 16.65%;
	}
	.column.large-three.reset,
	.column.large-fourth.reset {
		width: 25%;
	}
	.column.large-four.reset,
	.column.large-twosixths.reset,
	.column.large-third.reset {
		width: 33.3%;
	}
	.column.large-five.reset {
		width: 41.65%;
	}
	.column.large-six.reset,
	.column.large-half.reset,
	.column.large-threesixths.reset,
	.column.large-twofourths.reset {
		width: 50%;
	}
	.column.large-seven.reset {
		width: 58.3%;
	}
	.column.large-eight.reset,
	.column.large-foursixths.reset,
	.column.large-twothirds.reset {
		width: 66.6%;
	}
	.column.large-nine.reset,
	.column.large-threefourths.reset {
		width: 75%;
	}
	.column.large-ten.reset,
	.column.large-fivesixths.reset {
		width: 83.35%;
	}
	.column.large-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.large-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.large-push-one {
			margin-right: 8.3%;
		}
	.column.reset.large-push-two,
	.column.reset.large-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.large-push-two,
		.column.reset.right.large-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.large-push-three,
	.column.reset.large-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.large-push-three,
		.column.reset.right.large-push-fourth {
			margin-right: 25%;
		}
	.column.reset.large-push-four,
	.column.reset.large-push-twosixths,
	.column.reset.large-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.large-push-four,
		.column.reset.right.large-push-twosixths,
		.column.reset.right.large-push-third {
			margin-right: 33.3%;
		}
	.column.reset.large-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.large-push-five {
			margin-right: 41.65%;
		}
	.column.reset.large-push-six,
	.column.reset.large-push-half,
	.column.reset.large-push-threesixths,
	.column.reset.large-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.large-push-six,
		.column.right.reset.large-push-half,
		.column.right.reset.large-push-threesixths,
		.column.right.reset.large-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.large-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.large-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.large-push-eight,
	.column.reset.large-push-foursixths,
	.column.reset.large-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.large-push-eight,
		.column.reset.right.large-push-foursixths,
		.column.reset.right.large-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.large-push-nine,
	.column.reset.large-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.large-push-nine,
		.column.reset.right.large-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.large-push-ten,
	.column.reset.large-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.large-push-ten,
		.column.reset.right.large-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.large-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.large-push-eleven {
			margin-right: 91.7%;
		}

	/*Last column in the series*/
	.column.large-last {
		margin-right: 0;
	}



	/*Break columns after this*/
	.column.break-large {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}
