
/*Very narrow viewport and up*/
@media handheld, only screen and (min-width: 360px) {

	/*Column basics*/
	.column.tiny-one,
	.column.tiny-two,
	.column.tiny-sixth,
	.column.tiny-three,
	.column.tiny-fourth,
	.column.tiny-four,
	.column.tiny-twosixths,
	.column.tiny-third,
	.column.tiny-five,
	.column.tiny-six,
	.column.tiny-half,
	.column.tiny-threesixths,
	.column.tiny-twofourths,
	.column.tiny-seven,
	.column.tiny-eight,
	.column.tiny-foursixths,
	.column.tiny-twothirds,
	.column.tiny-nine,
	.column.tiny-threefourths,
	.column.tiny-ten,
	.column.tiny-fivesixths,
	.column.tiny-eleven,
	.column.tiny-twelve,
	.column.tiny-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.tiny-one,
		.column.right.tiny-two,
		.column.right.tiny-sixth,
		.column.right.tiny-three,
		.column.right.tiny-fourth,
		.column.right.tiny-four,
		.column.right.tiny-twosixths,
		.column.right.tiny-third,
		.column.right.tiny-five,
		.column.right.tiny-six,
		.column.right.tiny-half,
		.column.right.tiny-threesixths,
		.column.right.tiny-twofourths,
		.column.right.tiny-seven,
		.column.right.tiny-eight,
		.column.right.tiny-foursixths,
		.column.right.tiny-twothirds,
		.column.right.tiny-nine,
		.column.right.tiny-threefourths,
		.column.right.tiny-ten,
		.column.right.tiny-fivesixths,
		.column.right.tiny-eleven,
		.column.right.tiny-twelve,
		.column.right.tiny-full {
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.tiny-full,
	.column.tiny-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.tiny-one {
		width: 4.85%;
	}
	.column.tiny-two,
	.column.tiny-sixth {
		width: 13.45%;
	}
	.column.tiny-three,
	.column.tiny-fourth {
		width: 22.05%;
	}
	.column.tiny-four,
	.column.tiny-twosixths,
	.column.tiny-third {
		width: 30.75%;
	}
	.column.tiny-five {
		width: 39.45%;
	}
	.column.tiny-six,
	.column.tiny-half,
	.column.tiny-threesixths,
	.column.tiny-twofourths {
		width: 48%;
	}
	.column.tiny-seven {
		width: 56.75%;
	}
	.column.tiny-eight,
	.column.tiny-foursixths,
	.column.tiny-twothirds {
		width: 65.4%;
	}
	.column.tiny-nine,
	.column.tiny-threefourths {
		width: 74.05%;
	}
	.column.tiny-ten,
	.column.tiny-fivesixths {
		width: 82.7%;
	}
	.column.tiny-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.tiny-push-one {
		margin-left: 8.65%;
	}
		.column.right.tiny-push-one {
			margin-right: 8.65%;
		}
	.column.tiny-push-two,
	.column.tiny-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.tiny-push-two,
		.column.right.tiny-push-sixth {
			margin-right: 17.25%;
		}
	.column.tiny-push-three,
	.column.tiny-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.tiny-push-three,
		.column.right.tiny-push-fourth {
			margin-right: 25.85%;
		}
	.column.tiny-push-four,
	.column.tiny-push-twosixths,
	.column.tiny-push-third {
		margin-left: 34.55%;
	}
		.column.right.tiny-push-four,
		.column.right.tiny-push-twosixths,
		.column.right.tiny-push-third {
			margin-right: 34.55%;
		}
	.column.tiny-push-five {
		margin-left: 43.25%;
	}
		.column.right.tiny-push-five {
			margin-right: 43.25%;
		}
	.column.tiny-push-six,
	.column.tiny-push-half,
	.column.tiny-push-threesixths,
	.column.tiny-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.tiny-push-six,
		.column.right.tiny-push-half,
		.column.right.tiny-push-threesixths,
		.column.right.tiny-push-twofourths {
			margin-right: 51.8%;
		}
	.column.tiny-push-seven {
		margin-left: 60.55%;
	}
		.column.right.tiny-push-seven {
			margin-right: 60.55%;
		}
	.column.tiny-push-eight,
	.column.tiny-push-foursixths,
	.column.tiny-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.tiny-push-eight,
		.column.right.tiny-push-foursixths,
		.column.right.tiny-push-twothirds {
			margin-right: 69.2%;
		}
	.column.tiny-push-nine,
	.column.tiny-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.tiny-push-nine,
		.column.right.tiny-push-threefourths {
			margin-right: 77.85%;
		}
	.column.tiny-push-ten,
	.column.tiny-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.tiny-push-ten,
		.column.right.tiny-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.tiny-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.tiny-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.tiny-one.reset {
		width: 8.3%;
	}
	.column.tiny-two.reset,
	.column.tiny-sixth.reset {
		width: 16.65%;
	}
	.column.tiny-three.reset,
	.column.tiny-fourth.reset {
		width: 25%;
	}
	.column.tiny-four.reset,
	.column.tiny-twosixths.reset,
	.column.tiny-third.reset {
		width: 33.3%;
	}
	.column.tiny-five.reset {
		width: 41.65%;
	}
	.column.tiny-six.reset,
	.column.tiny-half.reset,
	.column.tiny-threesixths.reset,
	.column.tiny-twofourths.reset {
		width: 50%;
	}
	.column.tiny-seven.reset {
		width: 58.3%;
	}
	.column.tiny-eight.reset,
	.column.tiny-foursixths.reset,
	.column.tiny-twothirds.reset {
		width: 66.6%;
	}
	.column.tiny-nine.reset,
	.column.tiny-threefourths.reset {
		width: 75%;
	}
	.column.tiny-ten.reset,
	.column.tiny-fivesixths.reset {
		width: 83.35%;
	}
	.column.tiny-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.tiny-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.tiny-push-one {
			margin-right: 8.3%;
		}
	.column.reset.tiny-push-two,
	.column.reset.tiny-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.tiny-push-two,
		.column.reset.right.tiny-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.tiny-push-three,
	.column.reset.tiny-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.tiny-push-three,
		.column.reset.right.tiny-push-fourth {
			margin-right: 25%;
		}
	.column.reset.tiny-push-four,
	.column.reset.tiny-push-twosixths,
	.column.reset.tiny-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.tiny-push-four,
		.column.reset.right.tiny-push-twosixths,
		.column.reset.right.tiny-push-third {
			margin-right: 33.3%;
		}
	.column.reset.tiny-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.tiny-push-five {
			margin-right: 41.65%;
		}
	.column.reset.tiny-push-six,
	.column.reset.tiny-push-half,
	.column.reset.tiny-push-threesixths,
	.column.reset.tiny-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.tiny-push-six,
		.column.right.reset.tiny-push-half,
		.column.right.reset.tiny-push-threesixths,
		.column.right.reset.tiny-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.tiny-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.tiny-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.tiny-push-eight,
	.column.reset.tiny-push-foursixths,
	.column.reset.tiny-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.tiny-push-eight,
		.column.reset.right.tiny-push-foursixths,
		.column.reset.right.tiny-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.tiny-push-nine,
	.column.reset.tiny-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.tiny-push-nine,
		.column.reset.right.tiny-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.tiny-push-ten,
	.column.reset.tiny-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.tiny-push-ten,
		.column.reset.right.tiny-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.tiny-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.tiny-push-eleven {
			margin-right: 91.7%;
		}

	/*Last column in the series*/
	.column.tiny-last {
		margin-right: 0;
	}



	/*Break columns after this*/
	.column.break-tiny {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}
