
@media handheld, only screen and (min-width: 40em) {

	/*Roll back default last-in-line behavior*/
	.column.last.small-one,
	.column.last.small-two,
	.column.last.small-sixth,
	.column.last.small-three,
	.column.last.small-fourth,
	.column.last.small-four,
	.column.last.small-twosixths,
	.column.last.small-third,
	.column.last.small-five,
	.column.last.small-six,
	.column.last.small-half,
	.column.last.small-threesixths,
	.column.last.small-twofourths,
	.column.last.small-seven,
	.column.last.small-eight,
	.column.last.small-foursixths,
	.column.last.small-twothirds,
	.column.last.small-nine,
	.column.last.small-threefourths,
	.column.last.small-ten,
	.column.last.small-fivesixths,
	.column.last.small-eleven,
	.column.last.small-twelve,
	.column.last.small-full {
		margin-right: 3.8%;
	}
		.column.right.last.small-one,
		.column.right.last.small-two,
		.column.right.last.small-sixth,
		.column.right.last.small-three,
		.column.right.last.small-fourth,
		.column.right.last.small-four,
		.column.right.last.small-twosixths,
		.column.right.last.small-third,
		.column.right.last.small-five,
		.column.right.last.small-six,
		.column.right.last.small-half,
		.column.right.last.small-threesixths,
		.column.right.last.small-twofourths,
		.column.right.last.small-seven,
		.column.right.last.small-eight,
		.column.right.last.small-foursixths,
		.column.right.last.small-twothirds,
		.column.right.last.small-nine,
		.column.right.last.small-threefourths,
		.column.right.last.small-ten,
		.column.right.last.small-fivesixths,
		.column.right.last.small-eleven,
		.column.right.last.small-twelve,
		.column.right.last.small-full {
			margin-left: 3.8%;
		}



	/*Column basics*/
	.column.small-one,
	.column.small-two,
	.column.small-sixth,
	.column.small-three,
	.column.small-fourth,
	.column.small-four,
	.column.small-twosixths,
	.column.small-third,
	.column.small-five,
	.column.small-six,
	.column.small-half,
	.column.small-threesixths,
	.column.small-twofourths,
	.column.small-seven,
	.column.small-eight,
	.column.small-foursixths,
	.column.small-twothirds,
	.column.small-nine,
	.column.small-threefourths,
	.column.small-ten,
	.column.small-fivesixths,
	.column.small-eleven,
	.column.small-twelve,
	.column.small-full {
		clear: none;
		float: left;
		min-height: 1px;
		margin-left: 0;
		margin-right: 3.8%;
	}
		.column.right.small-one,
		.column.right.small-two,
		.column.right.small-sixth,
		.column.right.small-three,
		.column.right.small-fourth,
		.column.right.small-four,
		.column.right.small-twosixths,
		.column.right.small-third,
		.column.right.small-five,
		.column.right.small-six,
		.column.right.small-half,
		.column.right.small-threesixths,
		.column.right.small-twofourths,
		.column.right.small-seven,
		.column.right.small-eight,
		.column.right.small-foursixths,
		.column.right.small-twothirds,
		.column.right.small-nine,
		.column.right.small-threefourths,
		.column.right.small-ten,
		.column.right.small-fivesixths,
		.column.right.small-eleven,
		.column.right.small-twelve,
		.column.right.small-full {
			float: right;
			margin-right: 0;
			margin-left: 3.8%;
		}

	/*Full-width column*/
	.column.small-full,
	.column.small-twelve {
		width: 100%;
	}



	/*Fluid column widths*/
	.column.small-one {
		width: 4.85%;
	}
	.column.small-two,
	.column.small-sixth {
		width: 13.45%;
	}
	.column.small-three,
	.column.small-fourth {
		width: 22.05%;
	}
	.column.small-four,
	.column.small-twosixths,
	.column.small-third {
		width: 30.75%;
	}
	.column.small-five {
		width: 39.45%;
	}
	.column.small-six,
	.column.small-half,
	.column.small-threesixths,
	.column.small-twofourths {
		width: 48%;
	}
	.column.small-seven {
		width: 56.75%;
	}
	.column.small-eight,
	.column.small-foursixths,
	.column.small-twothirds {
		width: 65.4%;
	}
	.column.small-nine,
	.column.small-threefourths {
		width: 74.05%;
	}
	.column.small-ten,
	.column.small-fivesixths {
		width: 82.7%;
	}
	.column.small-eleven {
		width: 91.35%;
	}

	/*Shift guttered columns*/
	.column.small-push-one {
		margin-left: 8.65%;
	}
		.column.right.small-push-one {
			margin-right: 8.65%;
		}
	.column.small-push-two,
	.column.small-push-sixth {
		margin-left: 17.25%;
	}
		.column.right.small-push-two,
		.column.right.small-push-sixth {
			margin-right: 17.25%;
		}
	.column.small-push-three,
	.column.small-push-fourth {
		margin-left: 25.85%;
	}
		.column.right.small-push-three,
		.column.right.small-push-fourth {
			margin-right: 25.85%;
		}
	.column.small-push-four,
	.column.small-push-twosixths,
	.column.small-push-third {
		margin-left: 34.55%;
	}
		.column.right.small-push-four,
		.column.right.small-push-twosixths,
		.column.right.small-push-third {
			margin-right: 34.55%;
		}
	.column.small-push-five {
		margin-left: 43.25%;
	}
		.column.right.small-push-five {
			margin-right: 43.25%;
		}
	.column.small-push-six,
	.column.small-push-half,
	.column.small-push-threesixths,
	.column.small-push-twofourths {
		margin-left: 51.8%;
	}
		.column.right.small-push-six,
		.column.right.small-push-half,
		.column.right.small-push-threesixths,
		.column.right.small-push-twofourths {
			margin-right: 51.8%;
		}
	.column.small-push-seven {
		margin-left: 60.55%;
	}
		.column.right.small-push-seven {
			margin-right: 60.55%;
		}
	.column.small-push-eight,
	.column.small-push-foursixths,
	.column.small-push-twothirds {
		margin-left: 69.2%;
	}
		.column.right.small-push-eight,
		.column.right.small-push-foursixths,
		.column.right.small-push-twothirds {
			margin-right: 69.2%;
		}
	.column.small-push-nine,
	.column.small-push-threefourths {
		margin-left: 77.85%;
	}
		.column.right.small-push-nine,
		.column.right.small-push-threefourths {
			margin-right: 77.85%;
		}
	.column.small-push-ten,
	.column.small-push-fivesixths {
		margin-left: 86.5%;
	}
		.column.right.small-push-ten,
		.column.right.small-push-fivesixths {
			margin-right: 86.5%;
		}
	.column.small-push-eleven {
		margin-left: 95.15%;
	}
		.column.right.small-push-eleven {
			margin-right: 95.15%;
		}



	/*No gutters*/
	.column.small-one.reset {
		width: 8.3%;
	}
	.column.small-two.reset,
	.column.small-sixth.reset {
		width: 16.65%;
	}
	.column.small-three.reset,
	.column.small-fourth.reset {
		width: 25%;
	}
	.column.small-four.reset,
	.column.small-twosixths.reset,
	.column.small-third.reset {
		width: 33.3%;
	}
	.column.small-five.reset {
		width: 41.65%;
	}
	.column.small-six.reset,
	.column.small-half.reset,
	.column.small-threesixths.reset,
	.column.small-twofourths.reset {
		width: 50%;
	}
	.column.small-seven.reset {
		width: 58.3%;
	}
	.column.small-eight.reset,
	.column.small-foursixths.reset,
	.column.small-twothirds.reset {
		width: 66.6%;
	}
	.column.small-nine.reset,
	.column.small-threefourths.reset {
		width: 75%;
	}
	.column.small-ten.reset,
	.column.small-fivesixths.reset {
		width: 83.35%;
	}
	.column.small-eleven.reset {
		width: 91.7%;
	}

	/*Shift no-gutter columns*/
	.column.reset.small-push-one {
		margin-left: 8.3%;
	}
		.column.reset.right.small-push-one {
			margin-right: 8.3%;
		}
	.column.reset.small-push-two,
	.column.reset.small-push-sixth {
		margin-left: 16.65%;
	}
		.column.reset.right.small-push-two,
		.column.reset.right.small-push-sixth {
			margin-right: 16.65%;
		}
	.column.reset.small-push-three,
	.column.reset.small-push-fourth {
		margin-left: 25%;
	}
		.column.reset.right.small-push-three,
		.column.reset.right.small-push-fourth {
			margin-right: 25%;
		}
	.column.reset.small-push-four,
	.column.reset.small-push-twosixths,
	.column.reset.small-push-third {
		margin-left: 33.3%;
	}
		.column.reset.right.small-push-four,
		.column.reset.right.small-push-twosixths,
		.column.reset.right.small-push-third {
			margin-right: 33.3%;
		}
	.column.reset.small-push-five {
		margin-left: 41.65%;
	}
		.column.reset.right.small-push-five {
			margin-right: 41.65%;
		}
	.column.reset.small-push-six,
	.column.reset.small-push-half,
	.column.reset.small-push-threesixths,
	.column.reset.small-push-twofourths {
		margin-left: 50%;
	}
		.column.reset.right.small-push-six,
		.column.right.reset.small-push-half,
		.column.right.reset.small-push-threesixths,
		.column.right.reset.small-push-twofourths {
			margin-right: 50%;
		}
	.column.reset.small-push-seven {
		margin-left: 58.3%;
	}
		.column.reset.right.small-push-seven {
			margin-right: 58.3%;
		}
	.column.reset.small-push-eight,
	.column.reset.small-push-foursixths,
	.column.reset.small-push-twothirds {
		margin-left: 66.6%;
	}
		.column.reset.right.small-push-eight,
		.column.reset.right.small-push-foursixths,
		.column.reset.right.small-push-twothirds {
			margin-right: 66.6%;
		}
	.column.reset.small-push-nine,
	.column.reset.small-push-threefourths {
		margin-left: 75%;
	}
		.column.reset.right.small-push-nine,
		.column.reset.right.small-push-threefourths {
			margin-right: 75%;
		}
	.column.reset.small-push-ten,
	.column.reset.small-push-fivesixths {
		margin-left: 83.35%;
	}
		.column.reset.right.small-push-ten,
		.column.reset.right.small-push-fivesixths {
			margin-right: 83.35%;
		}
	.column.reset.small-push-eleven {
		margin-left: 91.7%;
	}
		.column.reset.right.small-push-eleven {
			margin-right: 91.7%;
		}



	/*Last column in the series*/
	.column.small-last,
	.column.last.small-last.small-one,
	.column.last.small-last.small-two,
	.column.last.small-last.small-sixth,
	.column.last.small-last.small-three,
	.column.last.small-last.small-fourth,
	.column.last.small-last.small-four,
	.column.last.small-last.small-twosixths,
	.column.last.small-last.small-third,
	.column.last.small-last.small-five,
	.column.last.small-last.small-six,
	.column.last.small-last.small-half,
	.column.last.small-last.small-threesixths,
	.column.last.small-last.small-twofourths,
	.column.last.small-last.small-seven,
	.column.last.small-last.small-eight,
	.column.last.small-last.small-foursixths,
	.column.last.small-last.small-twothirds,
	.column.last.small-last.small-nine,
	.column.last.small-last.small-threefourths,
	.column.last.small-last.small-ten,
	.column.last.small-last.small-fivesixths,
	.column.last.small-last.small-eleven,
	.column.last.small-last.small-twelve,
	.column.last.small-last.small-full {
		margin-right: 0;
	}
		.column.right.small-last,
		.column.right.last.small-last.small-one,
		.column.right.last.small-last.small-two,
		.column.right.last.small-last.small-sixth,
		.column.right.last.small-last.small-three,
		.column.right.last.small-last.small-fourth,
		.column.right.last.small-last.small-four,
		.column.right.last.small-last.small-twosixths,
		.column.right.last.small-last.small-third,
		.column.right.last.small-last.small-five,
		.column.right.last.small-last.small-six,
		.column.right.last.small-last.small-half,
		.column.right.last.small-last.small-threesixths,
		.column.right.last.small-last.small-twofourths,
		.column.right.last.small-last.small-seven,
		.column.right.last.small-last.small-eight,
		.column.right.last.small-last.small-foursixths,
		.column.right.last.small-last.small-twothirds,
		.column.right.last.small-last.small-nine,
		.column.right.last.small-last.small-threefourths,
		.column.right.last.small-last.small-ten,
		.column.right.last.small-last.small-fivesixths,
		.column.right.last.small-last.small-eleven,
		.column.right.last.small-last.small-twelve,
		.column.right.last.small-last.small-full {
			margin-left: 0;
		}



	/*Break columns after this*/
	.column.break-small {
		width: auto !important;
		float: none !important;
		clear: both !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

}