
code .token.comment,
code .token.prolog,
code .token.doctype,
code .token.cdata {
	color: slategray;
}

code .token.punctuation {
	color: #999;
}

code .namespace {
	opacity: .7;
}

code .token.property,
code .token.tag,
code .token.boolean,
code .token.number {
	color: #905;
}

code .token.selector,
code .token.attr-name,
code .token.string {
	color: #690;
}

code .token.operator,
code .token.entity,
code .token.url {
	color: #a67f59;
}

code .token.atrule,
code .token.attr-value,
code .token.keyword {
	color: #07a;
}


code .token.regex,
code .token.important {
	color: #e90;
}

code .token.important {
	font-weight: bold;
}

code .token.entity {
	cursor: help;
}

code.language-css .token.string, .language-css code .token.string,
code.style .token.string, .style code .token.string {
	color: #a67f59;
}
