
/*Metro typography*/
html {
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*Title styles*/
h1, h2 {
	font-weight: 100;
}
h3 {
	font-weight: 200;
}
h1.alternate, h2.alternate, h3.alternate, h4 {
	font-weight: 700;
	text-transform: uppercase;
}

/*Title sizing*/
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}
	h2.alternate {
		font-size: 2.6em;
	}
h3 {
	font-size: 2.2em;
}
	h3.alternate {
		font-size: 1.8em;
	}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}
