
/*Basics*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, a,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	clear: both;
	outline: 0;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
	background: transparent;
	vertical-align: baseline;
}
html, body, blockquote, pre, table, form {
	margin: 0;
	padding: 0;
}
figure, button, input, select, textarea {
	margin: 0;
}
img, iframe, button, input, select, textarea {
	max-width: 100%;
}



/*HTML5 elements*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}



/*Improve scaled image quality in IE7*/
img {
	-ms-interpolation-mode: bicubic;
}

/*Correct overflows in IE9*/
svg:not(:root) {
	overflow: hidden;
}

/*White-space behavior in pre*/
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}



/*Document elements*/

/*Lists*/
ul {
	list-style: disc;
	padding-left: 2em;
}
ol {
	list-style: decimal;
	padding-left: 2em;
}
	nav ul, nav ol {
		list-style: none;
		list-style-image: none;
		padding-left: 0;
	}

/*Inline*/
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/*Tables*/
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	vertical-align: top;
}



/*Text*/

/*Fonts*/
html {
	font-size: 100%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6, strong, dt, mark, th {
	font-weight: bold;
}

/*Interactive*/
a {
	text-decoration: underline;
}
	a:hover {
		text-decoration: none;
	}
input, select, textarea, button {
	font-family: inherit;
}
input[type=""], input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], select, textarea, pre, code, kbd, samp {
	font-size: inherit;
}
button, input, select, textarea, pre, code, kbd, samp {
	font-weight: inherit;
}
	button, select {
		text-transform: none;
	}

/*Inline markup*/
em, dfn, q, blockquote {
	font-style: italic;
}
del {
	text-decoration: line-through;
}

/*Quotes*/
blockquote, q {
	quotes: none;
}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}



/*Forms & interaction*/

/*Use the same box-model and sizing in all browsers*/
button, input[type=""], input:not([type]), input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], textarea {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	line-height: inherit;
	display: inline-block;
}

/*Make search fields consistent with text fields on Webkit*/
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*Get IE on the line with checkboxes*/
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/*Make button rendering consistent on Firefox 4+*/
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*Style clickable inputs consistently on all webkits*/
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
}

/*Buttons have center-aligned text*/
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	text-align: center;
}

/*Use sensible alignments*/
button, input, select {
	vertical-align: baseline;
	*vertical-align: middle;
}
textarea {
	overflow: auto;
	vertical-align: top;
}

/*Use sensible cursors*/
body {
	cursor: default;
}
abbr[title], dfn[title] {
	text-decoration: underline;
	cursor: help;
}
a, label, button, input[type="submit"], input[type="button"], input[type="reset"] {
	cursor: pointer;
}
	.disabled button, .disabled label, .disabled a,
	button.disabled, label.disabled, a.disabled,
	.disabled input[type="submit"], .disabled input[type="button"], .disabled input[type="reset"],
	input[type="submit"].disabled, input[type="button"].disabled, input[type="reset"].disabled {
		cursor: default;
	}
	a[disabled], button[disabled], input[disabled] {
		cursor: default;
	}

/*Consistent outlines*/
a:focus {
	outline-style: dotted;
}
	a:active, a:hover {
		outline: 0;
	}
