
/*Form elements*/

/*Dimensions*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type=""] {
	width: 20em;
	max-width: 90%;
}
input:not([type]) {
	width: 20em;
	max-width: 90%;
}
	input[type="text"].squeeze,
	input[type="password"].squeeze,
	input[type="email"].squeeze,
	input[type="url"].squeeze,
	input[type="search"].squeeze,
	input[type="tel"].squeeze,
	input[type=""].squeeze {
		width: 14em;
	}
	input:not([type]).squeeze {
		width: 14em;
	}
textarea {
	width: 32em;
	max-width: 90%;
	height: 10.72em;
}
	textarea.squeeze {
		width: 20em;
		height: 4.02em;
	}



/*Resets*/
button.plain, input.plain, textarea.plain {
	color: inherit;
	border-width: 0;
	border-style: solid;
	background-color: transparent;
	padding: 0;
}
	button.plain, input[type="submit"].plain, input[type="button"].plain, input[type="reset"].plain {
		line-height: inherit;
		font-size: inherit;
		font-family: inherit;
	}



/*Explicit padding for input elements*/
input.buffer, input.buffer-top, textarea.buffer, textarea.buffer-top {
	padding-top: 0.35em;
}
input.buffer, input.buffer-right, textarea.buffer, textarea.buffer-right {
	padding-right: 0.6em;
}
input.buffer, input.buffer-bottom, textarea.buffer, textarea.buffer-bottom {
	padding-bottom: 0.4em;
}
input.buffer, input.buffer-left, textarea.buffer, textarea.buffer-left {
	padding-left: 0.6em;
}
