
/*Change box model for grid elements*/
.row, .column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*Rows with buffer space*/
.row {
	width: 100%;
	clear: both;
	float: none;
}
.row-content {
	margin: 0 auto;
	max-width: 70em;
}
	.row-content.buffer,
	.row-content.buffer-top {
		padding-top: 2%;
	}
	.row-content.buffer,
	.row-content.buffer-right {
		padding-right: 8%;
	}
	.row-content.buffer,
	.row-content.buffer-bottom {
		padding-bottom: 6%;
	}
	.row-content.buffer,
	.row-content.buffer-left {
		padding-left: 8%;
	}

/*Column basics (12-based fluid grid)*/
.column {
	clear: none;
	float: left;
	min-height: 1px;
}
	.column.first,
	.column.full,
	.column.twelve {
		clear: both;
	}
	.column.right {
		float: right;
	}



/*Fluid columns*/
.column {
	margin-left: 0;
	margin-right: 3.8%;
}
	.column.last,
	.column.reset {
		margin-right: 0 !important;
	}

/*Reverse stacking*/
.column.right {
	margin-right: 0;
	margin-left: 3.8%;
}
	.column.right.last,
	.column.right.reset {
		margin-left: 0 !important;
	}



/*Full-width column*/
.column.full,
.column.twelve {
	width: 100%;
}



/*Fluid column widths*/
.column.one {
	width: 4.85%;
}
.column.two,
.column.sixth {
	width: 13.45%;
}
.column.three,
.column.fourth {
	width: 22.05%;
}
.column.four,
.column.twosixths,
.column.third {
	width: 30.75%;
}
.column.five {
	width: 39.45%;
}
.column.six,
.column.half,
.column.threesixths,
.column.twofourths {
	width: 48%;
}
.column.seven {
	width: 56.75%;
}
.column.eight,
.column.foursixths,
.column.twothirds {
	width: 65.4%;
}
.column.nine,
.column.threefourths {
	width: 74.05%;
}
.column.ten,
.column.fivesixths {
	width: 82.7%;
}
.column.eleven {
	width: 91.35%;
}

/*Shift guttered columns*/
.column.push-one {
	margin-left: 8.65%;
}
	.column.right.push-one {
		margin-right: 8.65%;
	}
.column.push-two,
.column.push-sixth {
	margin-left: 17.25%;
}
	.column.right.push-two,
	.column.right.push-sixth {
		margin-right: 17.25%;
	}
.column.push-three,
.column.push-fourth {
	margin-left: 25.85%;
}
	.column.right.push-three,
	.column.right.push-fourth {
		margin-right: 25.85%;
	}
.column.push-four,
.column.push-twosixths,
.column.push-third {
	margin-left: 34.55%;
}
	.column.right.push-four,
	.column.right.push-twosixths,
	.column.right.push-third {
		margin-right: 34.55%;
	}
.column.push-five {
	margin-left: 43.25%;
}
	.column.right.push-five {
		margin-right: 43.25%;
	}
.column.push-six,
.column.push-half,
.column.push-threesixths,
.column.push-twofourths {
	margin-left: 51.8%;
}
	.column.right.push-six,
	.column.right.push-half,
	.column.right.push-threesixths,
	.column.right.push-twofourths {
		margin-right: 51.8%;
	}
.column.push-seven {
	margin-left: 60.55%;
}
	.column.right.push-seven {
		margin-right: 60.55%;
	}
.column.push-eight,
.column.push-foursixths,
.column.push-twothirds {
	margin-left: 69.2%;
}
	.column.right.push-eight,
	.column.right.push-foursixths,
	.column.right.push-twothirds {
		margin-right: 69.2%;
	}
.column.push-nine,
.column.push-threefourths {
	margin-left: 77.85%;
}
	.column.right.push-nine,
	.column.right.push-threefourths {
		margin-right: 77.85%;
	}
.column.push-ten,
.column.push-fivesixths {
	margin-left: 86.5%;
}
	.column.right.push-ten,
	.column.right.push-fivesixths {
		margin-right: 86.5%;
	}
.column.push-eleven {
	margin-left: 95.15%;
}
	.column.right.push-eleven {
		margin-right: 95.15%;
	}



/*No gutters*/
.column.one.reset {
	width: 8.3%;
}
.column.two.reset,
.column.sixth.reset {
	width: 16.65%;
}
.column.three.reset,
.column.fourth.reset {
	width: 25%;
}
.column.four.reset,
.column.twosixths.reset,
.column.third.reset {
	width: 33.3%;
}
.column.five.reset {
	width: 41.65%;
}
.column.six.reset,
.column.half.reset,
.column.threesixths.reset,
.column.twofourths.reset {
	width: 50%;
}
.column.seven.reset {
	width: 58.3%;
}
.column.eight.reset,
.column.foursixths.reset,
.column.twothirds.reset {
	width: 66.6%;
}
.column.nine.reset,
.column.threefourths.reset {
	width: 75%;
}
.column.ten.reset,
.column.fivesixths.reset {
	width: 83.35%;
}
.column.eleven.reset {
	width: 91.7%;
}

/*Shift no-gutter columns*/
.column.reset.push-one {
	margin-left: 8.3%;
}
	.column.reset.right.push-one {
		margin-right: 8.3%;
	}
.column.reset.push-two,
.column.reset.push-sixth {
	margin-left: 16.65%;
}
	.column.reset.right.push-two,
	.column.reset.right.push-sixth {
		margin-right: 16.65%;
	}
.column.reset.push-three,
.column.reset.push-fourth {
	margin-left: 25%;
}
	.column.reset.right.push-three,
	.column.reset.right.push-fourth {
		margin-right: 25%;
	}
.column.reset.push-four,
.column.reset.push-twosixths,
.column.reset.push-third {
	margin-left: 33.3%;
}
	.column.reset.right.push-four,
	.column.reset.right.push-twosixths,
	.column.reset.right.push-third {
		margin-right: 33.3%;
	}
.column.reset.push-five {
	margin-left: 41.65;
}
	.column.reset.right.push-five {
		margin-right: 41.65%;
	}
.column.reset.push-six,
.column.reset.push-half,
.column.reset.push-threesixths,
.column.reset.push-twofourths {
	margin-left: 50%;
}
	.column.reset.right.push-six,
	.column.right.reset.push-half,
	.column.right.reset.push-threesixths,
	.column.right.reset.push-twofourths {
		margin-right: 50%;
	}
.column.reset.push-seven {
	margin-left: 58.3%;
}
	.column.reset.right.push-seven {
		margin-right: 58.3%;
	}
.column.reset.push-eight,
.column.reset.push-foursixths,
.column.reset.push-twothirds {
	margin-left: 66.6%;
}
	.column.reset.right.push-eight,
	.column.reset.right.push-foursixths,
	.column.reset.right.push-twothirds {
		margin-right: 66.6%;
	}
.column.reset.push-nine,
.column.reset.push-threefourths {
	margin-left: 75%;
}
	.column.reset.right.push-nine,
	.column.reset.right.push-threefourths {
		margin-right: 75%;
	}
.column.reset.push-ten,
.column.reset.push-fivesixths {
	margin-left: 83.35%;
}
	.column.reset.right.push-ten,
	.column.reset.right.push-fivesixths {
		margin-right: 83.35%;
	}
.column.reset.push-eleven {
	margin-left: 91.7%;
}
	.column.reset.right.push-eleven {
		margin-right: 91.7%;
	}



/*Fixed-width column with another column taking rest of the available space (fixed on the left)*/
.column.fluid {
	clear: none;
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
	.column.fluid > .column-content {
		margin-right: 10em;
	}
	.column.fixed {
		clear: none;
		float: right;
		margin-right: 0;
		margin-left: -100%;
		width: 10em;
	}

	/*Reverse stacking*/
	.column.fluid.right > .column-content {
		margin-right: 0;
		margin-left: 10em;
	}
	.column.fixed.right {
		float: left;
	}
