
/*List layouts*/



/*Modified lists*/
ul.plain,
ul.plain ul,
ul.plain ol,
ol.plain,
ol.plain ul,
ol.plain ol {
	padding-left: 0;
	list-style-type: none;
}
	ul.plain ul,
	ul.plain ol,
	ol.plain ul,
	ol.plain ol {
		margin-top: 0;
		margin-bottom: 0;
	}



/*Inline lists*/
ul.inline, ol.inline {
	list-style: none;
	padding-left: 0;
}
	ul.inline.right, ol.inline.right {
		text-align: right;
	}
		ul.inline > li, ol.inline > li {
			display: inline;
		}



/*Horizontal lists with block elements*/
ul.collapse, ol.collapse {
	list-style: none;
	padding-left: 0;
}
	ul.collapse.right, ol.collapse.right {
		text-align: right;
	}
		ul.collapse > li, ol.collapse > li {
			float: left;
			clear: none;
		}
