
/*Rhythm*/
body {
	line-height: 1.34;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.34em;
	margin-bottom: 0.67em;
}
p, ul, ol, table, pre, blockquote {
	margin-top: 0.67em;
	margin-bottom: 1.34em;
}

	/*Nested lists*/
	ul ul, ul ol, ol ol, ol ul {
		margin-top: 0;
		margin-bottom: 0.67em;
	}

/*Definition lists*/
dl {
	margin-bottom: 1.34em;
}
dt {
	margin-top: 0.67em;
	margin-bottom: 0;
}
dd {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

/*Tables*/
caption {
	margin-bottom: 0.67em;
}
th, td {
	padding: 0.67em;
}
	.squeeze th, .squeeze td, th.squeeze, td.squeeze, table table th, table table td {
		padding: 0.335em;
	}
	table.plain th,
	table.plain td,
	tr.plain th,
	tr.plain td,
	tbody.plain th,
	tbody.plain td,
	thead.plain th,
	thead.plain td,
	tfoot.plain th,
	tfoot.plain td,
	th.plain,
	td.plain {
		padding: 0;
	}

/*Headings*/
h1.squeeze, h2.squeeze, h3.squeeze, h4.squeeze, h5.squeeze, h6.squeeze, 
h1.squeeze-top , h2.squeeze-top, h3.squeeze-top, h4.squeeze-top, h5.squeeze-top, h6.squeeze-top {
	margin-top: 0.67em;
}
p.squeeze, ul.squeeze, ol.squeeze, table.squeeze, pre.squeeze, blockquote.squeeze,
p.squeeze-top, ul.squeeze-top, ol.squeeze-top, table.squeeze-top, pre.squeeze-top, blockquote.squeeze-top {
	margin-top: 0.335em;
}
h1.squeeze, h2.squeeze, h3.squeeze, h4.squeeze, h5.squeeze, h6.squeeze, 
h1.squeeze-bottom , h2.squeeze-bottom, h3.squeeze-bottom, h4.squeeze-bottom, h5.squeeze-bottom, h6.squeeze-bottom {
	margin-bottom: 0.335em;
}
p.squeeze, ul.squeeze, ol.squeeze, table.squeeze, pre.squeeze, blockquote.squeeze,
p.squeeze-bottom, ul.squeeze-bottom, ol.squeeze-bottom, table.squeeze-bottom, pre.squeeze-bottom, blockquote.squeeze-bottom {
	margin-bottom: 0.67em;
}



/*Spacing*/
.push, .push-top {
	margin-top: 1.34em;
}
.push, .push-right {
	margin-right: 1.34em;
}
.push, .push-bottom {
	margin-bottom: 1.34em;
}
.push, .push-left {
	margin-left: 1.34em;
}

/*No spacing*/
.reset, .reset-top {
	margin-top: 0;
}
.reset, .reset-right {
	margin-right: 0;
}
.reset, .reset-bottom {
	margin-bottom: 0;
}
.reset, .reset-left {
	margin-left: 0;
}



/*Buffers*/
.buffer, .buffer-top {
	padding-top: 1em;
}
.buffer, .buffer-right {
	padding-right: 2em;
}
.buffer, .buffer-bottom {
	padding-bottom: 2em;
}
.buffer, .buffer-left {
	padding-left: 2em;
}

/*No buffers*/
.no-buffer, .no-buffer-top {
	padding-top: 0;
}
.no-buffer, .no-buffer-right {
	padding-right: 0;
}
.no-buffer, .no-buffer-bottom {
	padding-bottom: 0;
}
.no-buffer, .no-buffer-left {
	padding-left: 0;
}
