


/*Force floats*/
.keep-left, .keep-right {
	clear: none;
}
.keep-left {
	float: left;
}
.keep-right {
	float: right;
}
.keep-center {
	margin-right: auto;
	margin-left: auto;
}



/*Blocks and inline-blocks*/
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
	ul.inline, ol.inline {
		display: block;
	}



/*Utilities for common CSS-based behavior*/
.clear {
	clear: both;
}
.hidden {
	display: none;
}



/*Dry element of its content*/
.dry {
	text-indent: -9999em;
	direction: ltr;
}



/*Include padding and border in dimensions*/
.content-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
